/*========== GLOBAL STYLES ===*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
  font-size: 1rem;
  background-color: #fff;
  letter-spacing: .4px;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*========== HEADER/NAV ======*/
.nav-bar {
  height: 168px;
  padding-top: 3vh !important;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    height: 110px;
  }
}

@media screen and (min-width: 992px) {
  .nav-bar {
    height: 209px;
  }
}

.navbar-brand img {
  height: auto;
  width: 95%;
}

@media screen and (min-width: 768px) {
  .phone-wrapper {
    visibility: hidden;
  }
}

.rotate {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.burger {
  background-color: #333645;
  width: 63px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 0px 15px;
}

.burger h6 {
  color: #fff;
  margin: auto;
  font-size: 0.75rem;
  font-weight: 500;
}

.burger span {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 3px;
  background-color: #fff;
  margin: auto;
}

.burger span::before, .burger span::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.burger span::before {
  top: -8px;
}

.burger span::after {
  bottom: -8px;
}

.nav-bottom {
  width: 100%;
}

.search {
  width: 100% !important;
  position: absolute;
}

.search-btn {
  position: relative;
  left: 390px;
  bottom: 48px;
}

.form-control {
  width: 100% !important;
}

input[type="search"] {
  background-color: #ddd;
  border: 0.1rem solid #999AA2;
  -webkit-box-shadow: 1px 1px 1px #ddd;
          box-shadow: 1px 1px 1px #ddd;
  padding: 0.75rem;
  opacity: 80%;
}

.fa-search {
  color: 900;
}

@media screen and (max-width: 768px) {
  .cards-nav {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .cards-nav {
    background-color: #333645;
  }
}

/*========== HERO ============*/
.hero-wrapper {
  min-height: 490px;
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    height: calc(100vh - 168px);
  }
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    height: calc(100vh - 110px);
  }
}

@media screen and (min-width: 992px) {
  .hero-wrapper {
    height: calc(100vh - 209px);
  }
}

.hero-bg {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, black), to(rgba(0, 0, 0, 0))), url("/img/home-3wAI (2).jpg");
  background-image: linear-gradient(to bottom right, black 30%, rgba(0, 0, 0, 0)), url("/img/home-3wAI (2).jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: none;
     object-fit: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .hero-bg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .hero-bg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .hero-text-wrapper {
    margin: auto 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .hero-text-wrapper {
    margin-left: 3%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 1260px) {
  .hero-text-wrapper {
    margin-left: 10%;
  }
}

.hero-title,
.hero-subtitle {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .hero-title,
  .hero-subtitle {
    text-align: left;
  }
}

.hero-title {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.hero-subtitle {
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.hero-button {
  background-color: #926FB1;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid transparent;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
  border-radius: 3px;
  margin: auto auto 0 auto;
  height: auto;
  font-size: 1.25rem;
  padding: 5px 20px;
  text-align: center;
  border-radius: 3px;
  line-height: 50px;
}

.hero-button:hover {
  background-color: #79539A;
}

.hero-button svg {
  height: 20%;
  width: 20%;
  padding-top: 0.7rem;
  padding-right: 0.7rem;
}

/*========== CARDS ===========*/
.cards-section {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
  .cards-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .cards-section {
    height: 180vh;
    padding: 1.25rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .cards-section {
    height: 75vh;
  }
}

@media screen and (min-width: 1260px) {
  .cards-section {
    height: 80vh;
  }
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 768px) {
  .row-double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .row-double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1260px) {
  .row-double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row-double > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

@media screen and (min-width: 992px) {
  .row-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .row-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .row-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1260px) {
  .row-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .row-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .row-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2rem;
  -webkit-box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
          box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .card {
    margin: 2rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card {
    margin: 2rem 1rem;
  }
}

.icon-border {
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  padding: 1rem;
}

.card-icon {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
}

.card-title,
.card-text {
  text-align: center;
  color: 900;
  opacity: 90%;
  font-weight: 400;
}

.card-title:hover,
.card-text:hover {
  color: #fff;
}

.card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 5vw 7%;
  background-position: center bottom, 0.2vw 0;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  font-weight: 400;
}

.card-text {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-btn {
  display: inline-block;
  margin: auto auto 0 auto;
  text-transform: uppercase;
  height: auto;
  white-space: nowrap;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 5px 15px;
  text-align: center;
  border-radius: 3px;
}

/*========== SOFT CARD =======*/
.soft-card .icon-border {
  background-color: #67809F;
}

.soft-card .soft-btn {
  background-color: #67809F;
  color: #fff;
  text-decoration: none;
}

.soft-card:hover {
  background-color: #526784;
}

.soft-card:hover .icon-border {
  background-color: white;
}

.soft-card:hover .card-icon {
  color: #526784;
}

.soft-card:hover .card-title,
.soft-card:hover .card-text {
  color: #fff;
}

.soft-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.soft-card:hover .soft-btn {
  background-color: #fff;
  color: #526784;
  text-decoration: none;
}

/*========== IT CARD =========*/
.it-card .icon-border {
  background-color: #4183D7;
}

.it-card .it-btn {
  background-color: #4183D7;
  color: #fff;
  text-decoration: none;
}

.it-card:hover {
  background-color: #286ABD;
}

.it-card:hover .icon-border {
  background-color: white;
}

.it-card:hover .card-icon {
  color: #286ABD;
}

.it-card:hover .card-title,
.it-card:hover .card-text {
  color: #fff;
}

.it-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.it-card:hover .it-btn {
  background-color: #fff;
  color: #286ABD;
  text-decoration: none;
}

/*========== MARKET CARD =====*/
.market-card .icon-border {
  background-color: #2ECC71;
}

.market-card .market-btn {
  background-color: #2ECC71;
  color: #fff;
  text-decoration: none;
}

.market-card:hover {
  background-color: #25A25A;
}

.market-card:hover .icon-border {
  background-color: white;
}

.market-card:hover .card-icon {
  color: #25A25A;
}

.market-card:hover .card-title,
.market-card:hover .card-text {
  color: #fff;
}

.market-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.market-card:hover .market-btn {
  background-color: #fff;
  color: #25A25A;
  text-decoration: none;
}

/*========== TELE CARD =======*/
.tele-card .icon-border {
  background-color: #D64541;
}

.tele-card .tele-btn {
  background-color: #D64541;
  color: #fff;
  text-decoration: none;
}

.tele-card:hover {
  background-color: #BC2C28;
}

.tele-card:hover .icon-border {
  background-color: white;
}

.tele-card:hover .card-icon {
  color: #BC2C28;
}

.tele-card:hover .card-title,
.tele-card:hover .card-text {
  color: #fff;
}

.tele-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.tele-card:hover .tele-btn {
  background-color: #fff;
  color: #BC2C28;
  text-decoration: none;
}

/*========== WEB CARD ========*/
.web-card .icon-border {
  background-color: #926FB1;
}

.web-card .web-btn {
  background-color: #926FB1;
  color: #fff;
  text-decoration: none;
}

.web-card:hover {
  background-color: #79539A;
}

.web-card:hover .icon-border {
  background-color: white;
}

.web-card:hover .card-icon {
  color: #79539A;
}

.web-card:hover .card-title,
.web-card:hover .card-text {
  color: #fff;
}

.web-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.web-card:hover .web-btn {
  background-color: #fff;
  color: #79539A;
  text-decoration: none;
}

/*========== CYBER CARD ======*/
.cyber-card .icon-border {
  background-color: #F62459;
}

.cyber-card .cyber-btn {
  background-color: #F62459;
  color: #fff;
  text-decoration: none;
}

.cyber-card:hover {
  background-color: #DE093F;
}

.cyber-card:hover .icon-border {
  background-color: white;
}

.cyber-card:hover .card-icon {
  color: #DE093F;
}

.cyber-card:hover .card-title,
.cyber-card:hover .card-text {
  color: #fff;
}

.cyber-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.cyber-card:hover .cyber-btn {
  background-color: #fff;
  color: #DE093F;
  text-decoration: none;
}

/*========== TRAIN CARD ======*/
.train-card .icon-border {
  background-color: #926FB1;
}

.train-card .train-btn {
  background-color: #926FB1;
  color: #fff;
  text-decoration: none;
}

.train-card:hover {
  background-color: #926FB1;
}

.train-card:hover .icon-border {
  background-color: white;
}

.train-card:hover .card-icon {
  color: #926FB1;
}

.train-card:hover .card-title,
.train-card:hover .card-text {
  color: #fff;
}

.train-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.train-card:hover .train-btn {
  background-color: #fff;
  color: #926FB1;
  text-decoration: none;
}

/*========== ABOUT ===========*/
.about {
  background-color: #333645;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .about {
    height: 613px;
    padding: 50px 15px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    height: 493px;
  }
}

@media screen and (min-width: 992px) {
  .about {
    height: 493px;
  }
}

@media screen and (min-width: 1260px) {
  .about {
    height: 553px;
    padding-left: 18.47%;
    padding-right: 18.47%;
  }
}

.about-title {
  font-size: 2.25rem;
  font-weight: 400;
}

.about-intro {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.9;
}

.about-p1,
.about-p2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9;
}

.culture-btn {
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  margin: 0 auto 0 0;
  padding: 5px 15px;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid transparent;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
  border-radius: 3px;
  color: #333645;
}

.culture-btn:hover {
  opacity: 97%;
}

/*========== NEWS ============*/
.news-title {
  height: 10vh;
}

.news-title-text {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333645), to(#333645));
  background-image: linear-gradient(#333645, #333645);
  background-repeat: no-repeat;
  background-size: 15vw 5%;
  background-position: bottom left 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #333645;
  padding-top: 2rem;
  margin-bottom: 0;
}

.news {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .news {
    height: 1863px;
    padding: 2rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .news {
    height: 70vh;
  }
}

@media screen and (min-width: 992px) {
  .news {
    height: 70vh;
  }
}

@media screen and (min-width: 1260px) {
  .news {
    height: 75vh;
  }
}

.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
          box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .news-card {
    margin-bottom: 2rem;
  }
}

.news-card-main {
  border-bottom: 1px solid lightgray;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.news-body {
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

.scion-title,
.notable-title,
.job-title {
  margin-bottom: 1rem;
}

.news-text {
  color: #999AA2;
  margin-bottom: 1rem;
}

.news-btn {
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid transparent;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
  border-radius: 3px;
  margin: auto auto 1rem 0;
  height: auto;
  padding: 5px 15px;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  margin-top: auto;
}

.card-footer img {
  padding-right: 1rem;
}

.scion-title {
  color: #926FB1;
}

.scion-btn {
  background-color: #926FB1;
  color: #fff;
}

.scion-btn:hover {
  background-color: #79539A;
  color: #fff;
}

.notable-title {
  color: #D64541;
}

.notable-btn {
  background-color: #D64541;
  color: #fff;
}

.notable-btn:hover {
  background-color: #BC2C28;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .job-card {
    visibility: hidden;
  }
}

@media screen and (min-width: 992px) {
  .job-card {
    visibility: hidden;
  }
}

@media screen and (min-width: 1260px) {
  .job-card {
    visibility: visible;
  }
}

.job-title {
  color: #67809F;
}

.job-btn {
  background-color: #67809F;
  color: #fff;
}

.job-btn:hover {
  background-color: #526784;
  color: #fff;
}

/*========== CLIENTS =========*/
.clients {
  border: 1px solid purple;
  height: 20vh;
}

@media screen and (max-width: 768px) {
  .clients {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .clients {
    display: none !important;
  }
}

@media screen and (min-width: 1260px) {
  .clients {
    display: none !important;
  }
}

/*========== EMAIL FORM ======*/
.email {
  height: 60vh;
  background-color: #ddd;
}

.email-wrapper {
  width: 85% !important;
  margin: 0 auto;
}

.email-header,
.form-label,
.form-check,
.form-check-label {
  color: #333645;
  letter-spacing: 0.1rem;
}

.email-header {
  font-weight: 400;
  font-size: 2rem !important;
}

.form-label,
.form-check,
.form-check-label {
  font-weight: 700;
}

.form-check label {
  display: inline-block;
}

.form-check input {
  border: 0.2rem solid #333645 !important;
  background-color: #ddd;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.form-check-label {
  line-height: 1.8;
}

.make-red {
  color: #BC2C28;
}

.subscribe-btn {
  background-color: #333645 !important;
  color: #fff !important;
  text-transform: uppercase;
}

.subscribe-btn:hover {
  background-color: #1f2231 !important;
}

/*========== FOOTER ==========*/
.footer {
  background-color: #333645;
  height: 99vh;
  color: #fff;
  padding-bottom: 2.5vh;
}

.footer-heading {
  text-transform: uppercase;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover {
  text-decoration: underline;
  color: #fff;
}

.social-wrapper {
  background-color: #262834;
}

.social-wrapper i {
  text-align: center;
  width: 100%;
  color: #fff;
  margin-top: 1rem;
}

.facebook:hover {
  background-color: #43609C;
}

.twitter:hover {
  background-color: #55acee;
}

.insta:hover {
  background-color: #DD2A7B;
}

.linkedin:hover {
  background-color: #0072B1;
}

/*========== AWARDS ======*/
.awards {
  border: 1px solid teal;
  height: 50vh;
}

@media screen and (max-width: 768px) {
  .awards {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .awards {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .awards {
    display: none !important;
  }
}

@media screen and (min-width: 1260px) {
  .awards {
    display: none !important;
  }
}

/*========== PAGE LAYOUT ===*/
/*========== NAVBAR ========*/
/*========== HERO ==========*/
/*========== CARDS =========*/
/*========== ABOUT =========*/
/*========== NEWS ==========*/
/*========== CLIENTS =======*/
/*========== EMAIL FORM ====*/
/*========== FOOTER ========*/
/*========== AWARDS ========*/
/*========== MEDIA QUERIES ===*/
/*# sourceMappingURL=style.css.map */