/*========== GLOBAL STYLES ===*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  margin: 0;
}

/*========== HEADER/NAV ======*/
.navigation {
  height: 20vh;
}

/*========== HERO ============*/
.hero {
  height: 80vh;
}

/*========== CARDS ===========*/
.cards-section {
  height: 300vh;
  background-color: #ddd;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95% !important;
}

.icon-border {
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  width: 15%;
  margin-top: 2rem;
}

.card-icon {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-title,
.card-text {
  text-align: center;
  color: #000;
}

.card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-size: 5vw 10%;
  background-position: center bottom, 0.2vw 0;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.card-btn {
  margin: auto auto 0 auto;
  text-transform: uppercase;
  width: 35%;
  white-space: nowrap;
  font-size: 0.1rem;
}

/*========== SOFT CARD =======*/
.soft-card .icon-border {
  background-color: #526784;
}

.soft-card .card-icon {
  color: #fff;
}

.soft-card .card-title,
.soft-card .card-text {
  text-align: center;
  color: black;
}

.soft-card .soft-btn {
  background-color: #526784;
  color: #fff;
  text-decoration: none;
}

.soft-card:hover {
  background-color: #526784;
}

.soft-card:hover .icon-border {
  background-color: white;
}

.soft-card:hover .card-icon {
  color: #526784;
}

.soft-card:hover .card-text,
.soft-card:hover .card-title {
  color: #fff;
}

.soft-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.soft-card:hover .soft-btn {
  background-color: #fff;
  color: #526784;
  text-decoration: none;
}

/*========== IT CARD =========*/
.it-card .icon-border {
  background-color: #286ABD;
}

.it-card .card-icon {
  color: #fff;
}

.it-card .card-title,
.it-card .card-text {
  text-align: center;
  color: black;
}

.it-card .it-btn {
  background-color: #286ABD;
  color: #fff;
  text-decoration: none;
}

.it-card:hover {
  background-color: #286ABD;
}

.it-card:hover .icon-border {
  background-color: white;
}

.it-card:hover .card-icon {
  color: #286ABD;
}

.it-card:hover .card-text,
.it-card:hover .card-title {
  color: #fff;
}

.it-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.it-card:hover .it-btn {
  background-color: #fff;
  color: #286ABD;
  text-decoration: none;
}

/*========== MARKET CARD =====*/
.market-card .icon-border {
  background-color: #25A25A;
}

.market-card .card-icon {
  color: #fff;
}

.market-card .card-title,
.market-card .card-text {
  text-align: center;
  color: black;
}

.market-card .market-btn {
  background-color: #25A25A;
  color: #fff;
  text-decoration: none;
}

.market-card:hover {
  background-color: #25A25A;
}

.market-card:hover .icon-border {
  background-color: white;
}

.market-card:hover .card-icon {
  color: #25A25A;
}

.market-card:hover .card-text,
.market-card:hover .card-title {
  color: #fff;
}

.market-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.market-card:hover .market-btn {
  background-color: #fff;
  color: #25A25A;
  text-decoration: none;
}

/*========== TELE CARD =======*/
.tele-card .icon-border {
  background-color: #BC2C28;
}

.tele-card .card-icon {
  color: #fff;
}

.tele-card .card-title,
.tele-card .card-text {
  text-align: center;
  color: black;
}

.tele-card .tele-btn {
  background-color: #BC2C28;
  color: #fff;
  text-decoration: none;
}

.tele-card:hover {
  background-color: #BC2C28;
}

.tele-card:hover .icon-border {
  background-color: white;
}

.tele-card:hover .card-icon {
  color: #BC2C28;
}

.tele-card:hover .card-text,
.tele-card:hover .card-title {
  color: #fff;
}

.tele-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.tele-card:hover .tele-btn {
  background-color: #fff;
  color: #BC2C28;
  text-decoration: none;
}

/*========== WEB CARD ========*/
.web-card .icon-border {
  background-color: #79539A;
}

.web-card .card-icon {
  color: #fff;
}

.web-card .card-title,
.web-card .card-text {
  text-align: center;
  color: black;
}

.web-card .web-btn {
  background-color: #79539A;
  color: #fff;
  text-decoration: none;
}

.web-card:hover {
  background-color: #79539A;
}

.web-card:hover .icon-border {
  background-color: white;
}

.web-card:hover .card-icon {
  color: #79539A;
}

.web-card:hover .card-text,
.web-card:hover .card-title {
  color: #fff;
}

.web-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.web-card:hover .web-btn {
  background-color: #fff;
  color: #79539A;
  text-decoration: none;
}

/*========== CYBER CARD ======*/
.cyber-card .icon-border {
  background-color: #DE093F;
}

.cyber-card .card-icon {
  color: #fff;
}

.cyber-card .card-title,
.cyber-card .card-text {
  text-align: center;
  color: black;
}

.cyber-card .cyber-btn {
  background-color: #DE093F;
  color: #fff;
  text-decoration: none;
}

.cyber-card:hover {
  background-color: #DE093F;
}

.cyber-card:hover .icon-border {
  background-color: white;
}

.cyber-card:hover .card-icon {
  color: #DE093F;
}

.cyber-card:hover .card-text,
.cyber-card:hover .card-title {
  color: #fff;
}

.cyber-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.cyber-card:hover .cyber-btn {
  background-color: #fff;
  color: #DE093F;
  text-decoration: none;
}

/*========== TRAIN CARD ======*/
.train-card .icon-border {
  background-color: #79539A;
}

.train-card .card-icon {
  color: #fff;
}

.train-card .card-title,
.train-card .card-text {
  text-align: center;
  color: black;
}

.train-card .train-btn {
  background-color: #79539A;
  color: #fff;
  text-decoration: none;
}

.train-card:hover {
  background-color: #79539A;
}

.train-card:hover .icon-border {
  background-color: white;
}

.train-card:hover .card-icon {
  color: #79539A;
}

.train-card:hover .card-text,
.train-card:hover .card-title {
  color: #fff;
}

.train-card:hover .card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
}

.train-card:hover .train-btn {
  background-color: #fff;
  color: #79539A;
  text-decoration: none;
}

/*========== ABOUT ===========*/
.about {
  height: 65vh;
  background-color: #333645;
  color: #fff;
}

.about-title {
  font-size: 2.25rem;
  margin-bottom: 0;
}

.about-intro {
  font-size: 1.2rem;
  margin-top: 0;
}

.about-p1 {
  font-size: 1.15rem;
}

.about-p2 {
  font-size: 1.15rem;
  margin-top: 0;
}

.culture-btn {
  margin: 0 auto auto 1rem;
  text-transform: uppercase;
  width: 35% !important;
  white-space: nowrap;
  font-size: 0.1rem;
}

/*========== NEWS ============*/
.news-title {
  height: 15vh;
}

.news-title-text {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333645), to(#333645));
  background-image: linear-gradient(#333645, #333645);
  background-repeat: no-repeat;
  background-size: 15vw 5%;
  background-position: bottom left 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: #333645;
  padding-top: 2rem;
  margin-bottom: 0;
}

.news {
  background-color: #ddd;
  height: 200vh;
}

/*========== CLIENTS =========*/
.clients {
  border: 1px solid purple;
  height: 20vh;
}

/*========== EMAIL FORM ======*/
.email {
  height: 90vh;
  background-color: #ddd;
}

.email-wrapper {
  width: 80% !important;
  margin: 0 auto;
}

.email-header,
.form-label,
.form-check,
.form-check-label {
  color: #333645;
}

.make-red {
  color: #BC2C28;
}

/*========== FOOTER ==========*/
.footer {
  border: 1px solid pink;
  height: 130vh;
}

/*========== AWARDS ======*/
.awards {
  border: 1px solid teal;
  height: 50vh;
}

/*========== MEDIA QUERIES ===*/
@media screen and (max-width: 576px) {
  .hero-img {
    -o-object-fit: none;
       object-fit: none;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(black));
    -webkit-mask-image: linear-gradient(to bottom, transparent 10%, black);
            mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(black));
            mask-image: linear-gradient(to bottom, transparent 10%, black);
  }
  .clients {
    display: none !important;
  }
}

@media screen and (min-width: 576px) {
  .clients {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */