//PARTIAL IMPORTS ==============================
@import 'partials/variables',
        'partials/global-styles',
        'partials/mixins',
        'partials/sections/header-nav',
        'partials/sections/hero',
        'partials/sections/cards',
        'partials/sections/about',
        'partials/sections/news',
        'partials/sections/clients',
        'partials/sections/email-form',
        'partials/sections/footer',
        'partials/sections/awards';











/*========== MEDIA QUERIES ===*/

@media screen and (max-width: 576px) {
    
  }

@media screen and (min-width: 576px) {
    .clients {
        display: none !important;
    }
    .awards {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .clients {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}