//Color Variables
$dark-blue: #333645; //Logo, about, socials
$darker-blue: #262834;
$white: #fff;
$lightgrey: #ddd;
$black: #000;
$black-25: rgba($black, 0.25);
$black-10: rgba($black, .1);

$btn-blue: #4183D7;
$btn-blue-hover: #2A6EC6; //Btn on hover
$btn-grey: #999AA2;
$btn-grey-hover: #84858F; //Btn on hover
$soft: #67809F; //Software card, nav
$soft-dark: #526784; // Darker on hover
$it: #4183D7; //IT card, nav
$it-dark: #286ABD; // Darker on hover
$market: #2ECC71; // Marketing card, nav
$market-dark: #25A25A; // Darker on hover
$tele: #D64541; // Telecoms card, nav
$tele-dark: #BC2C28; // Darker on hover
$web: #926FB1; // Web Design and Training Card, Nav
$web-dark: #79539A; // Darker on hover
$cyber: #F62459; // Cyber Security Card, Nav
$cyber-dark: #DE093F; // Darker on hover

//Breakpoint Variables
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-lg: 992px;
$break-xl: 1200px;

//Mixins
@mixin fxalgnctr {
    display: flex;
    align-items: center;
}

@mixin circleborder {

}

/*========== GLOBAL STYLES ===*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin: 0;
}

/*========== HEADER/NAV ======*/

.navbar {
    height: 18vh;
    padding-top: 3vh !important;
}

.nav-top {
    margin-bottom: 2vh;
}

.navbar-brand {
    img {
    height: auto;
    width: 95%;
    }
}

.burger-wrapper {
    
}

.burger {
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    h6 {
        color: $white;
        // padding-top: 0.5rem;
    }
}

.burger span { //burger icon
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: $white;
    &::before,
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }
    &::before {
        top: -6px;
    }
    &::after {
        bottom: -6px;
    }
}

.rotate {
    transform: rotate(315deg);
}

.nav-bottom {
    width: 100%;
}

.search {
    width: 100% !important;
    position: absolute;
}

.search-btn {
    position: relative;
    left: 390px;
    bottom: 48px;
}

.form-control {
    width: 100% !important;
}

input[type="search"] {
    background-color: $lightgrey;
    border: 0.1rem solid $btn-grey;
    box-shadow: 1px 1px 1px $lightgrey;
    padding: 0.75rem;
    opacity: 80%;
}

.fa-search {
    color: $black;
}
/*========== HERO ============*/
.hero {
    height: 82vh;
}

.hero-bg {
    background-image:
    linear-gradient(to bottom right , rgba(0,0,0,1) 30% , rgba(0,0,0,0)),
    url('/img/dev-hero.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    object-fit: none;
    @media screen and (min-width: $break-xs) {
        
    }
}

.hero-text-wrapper {
    padding: 55% 5%;
    @media screen and (min-width: $break-xs) {
        
    }
}

.hero-title,
.hero-subtitle {
    color: $white;
    text-align: center;
    font-weight: 400;
}

.hero-title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.hero-subtitle {
    line-height: 1.8;
    margin-bottom: 2.5rem;
}

.hero-button {
    background-color: $web;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
    &:hover {
        background-color: $web-dark;
    }
    svg {
        height: 20%;
        width: 20%;
        padding-right: 0.7rem;
    }
}
/*========== CARDS ===========*/
.cards-section {
    height: 300vh;
    background-color: $lightgrey;
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    //All on each row up to medium devices
    @media screen and (max-width: $break-m) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
    //3 on own row and 2 x 2 below for medium devices
    @media screen and (min-width: $break-m) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: 180vh;
    }
    //3 x 2 x 2 for large devices
    @media screen and (min-width: $break-lg) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 180vh;
    }
    //3 x 4 for xlarge devices
    @media screen and (min-width: $break-xl) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 75vh;
    }
}

.card {
    @include fxalgnctr;
    width: 95% !important; 
}

.icon-border {
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    width: 15%;
    margin-top: 2rem;
}

.card-icon {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title,
.card-text {
    text-align: center;
    color: $black;
    opacity: 80%;
}

.card-title {
    background-image: linear-gradient($black, $black);
    background-repeat: no-repeat;
    background-size: 5vw 10%;
    background-position: center bottom, 0.2vw 0;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.card-btn {
    margin: auto auto 0 auto;
    text-transform: uppercase;
    width: 35%;
    white-space: nowrap;
    font-size: 0.1rem;
}
    /*========== SOFT CARD =======*/
    .soft-card {
        .icon-border {
            background-color: $soft-dark;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .soft-btn {
            background-color: $soft-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $soft-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $soft-dark;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .soft-btn {
                background-color: $white;
                color: $soft-dark;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 1/1/2/3;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 1/1/2/3;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 1/1/2/5;
        }
    }
    /*========== IT CARD =========*/
    .it-card {
        .icon-border {
            background-color: $it-dark;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .it-btn {
            background-color: $it-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $it-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $it-dark;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .it-btn {
                background-color: $white;
                color: $it-dark;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 2/1/3/3;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 1/3/2/5;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 1/5/2/9;
        }
    }
    /*========== MARKET CARD =====*/
    .market-card {
        .icon-border {
            background-color: $market-dark;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .market-btn {
            background-color: $market-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $market-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $market-dark;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .market-btn {
                background-color: $white;
                color: $market-dark;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 3/1/4/3;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 1/5/2/7;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 1/9/2/13;
        }
    }
    /*========== TELE CARD =======*/
    .tele-card {
        .icon-border {
            background-color: $tele-dark;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .tele-btn {
            background-color: $tele-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $tele-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $tele-dark;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .tele-btn {
                background-color: $white;
                color: $tele-dark;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 4/1/5/2;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 2/1/3/4;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 2/1/3/4;
        }
    }
    /*========== WEB CARD ========*/
    .web-card {
        .icon-border {
            background-color: $web-dark;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .web-btn {
            background-color: $web-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $web-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $web-dark;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .web-btn {
                background-color: $white;
                color: $web-dark;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 4/2/5/3;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 2/4/3/7;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 2/4/3/7;
        }
    }
    /*========== CYBER CARD ======*/
    .cyber-card {
        .icon-border {
            background-color: $cyber-dark;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .cyber-btn {
            background-color: $cyber-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $cyber-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $cyber-dark;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .cyber-btn {
                background-color: $white;
                color: $cyber-dark;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 5/1/6/2;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 3/1/4/4;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 2/7/3/10;
        }
    }
    /*========== TRAIN CARD ======*/
    .train-card {
        .icon-border {
            background-color: $web;
        }
        .card-icon {
            color: $white;
        } 
        .card-title,
        .card-text {
            text-align: center;
            color: black;
        }
        .train-btn {
            background-color: $web;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $web;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $web;
            }
            .card-text,
            .card-title {
                color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .train-btn {
                background-color: $white;
                color: $web;
                text-decoration: none;
            }
        }
        //3 on own row and 2 x 2 below for medium devices (2 colums, 5 rows)
        @media screen and (min-width: $break-m) {
            grid-area: 5/2/6/3;
        }
        //3 x 2 x 2 for large devices (6 colums, 3 rows)
        @media screen and (min-width: $break-lg) {
            grid-area: 3/4/4/7;
        }
        //3 x 4 for xlarge devices (12 colums, 2 rows)
        @media screen and (min-width: $break-xl) {
            grid-area: 2/10/3/13;
        }
    }
/*========== ABOUT ===========*/
.about {
    height: 65vh;
    background-color: $dark-blue;
    color: $white;
}

.about-title {
    font-size: 2.25rem;
    margin-bottom: 0;
}

.about-intro {
    font-size: 1.2rem;
    margin-top: 0;
}

.about-p1 {
    font-size: 1.15rem;
}

.about-p2 {
    font-size: 1.15rem;
    margin-top: 0;
}
.culture-btn {
    margin: 0 auto auto 1rem;
    text-transform: uppercase;
    width: 35% !important;
    white-space: nowrap;
    font-size: 0.1rem;
}
/*========== NEWS ============*/
.news-title {
    height: 10vh;
}

.news-title-text {
    background-image: linear-gradient($dark-blue, $dark-blue);
    background-repeat: no-repeat;
    background-size: 15vw 5%;
    background-position: bottom left 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $dark-blue;
    padding-top: 2rem;
    margin-bottom: 0;
}

.news {
    background-color: $lightgrey;
    height: 200vh;
    display: grid;
    //All on each row up to medium devices
    @media screen and (max-width: $break-m) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    //2 cards on one row for medium devices
    @media screen and (min-width: $break-m) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 70vh;
    }
    //2 cards on one row for large devices
    @media screen and (min-width: $break-lg) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 70vh;
    }
    //3 cards on one row for xlarge devices
    @media screen and (min-width: $break-xl) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: 75vh;
    }
}

.scion-card,
.notable-card,
.job-card {
    img {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.news-body {
    padding: 1rem 1rem;
}

.news-text {
    color: $btn-grey;
}

.scion-card {
    //2 cards 1 row for medium devices (2 colums, 1 row)
    @media screen and (min-width: $break-m) {
        grid-area: 1/1/2/2;
    }
    //2 cards 1 row for large devices (2 colums, 1 row)
    @media screen and (min-width: $break-lg) {
        grid-area: 1/1/2/2;
    }
    //3 cards 1 row for xlarge devices (3 colums, 1 row)
    @media screen and (min-width: $break-xl) {
        grid-area: 1/1/2/2;
    }
}

.scion-title {
    color: $web;
}

.scion-btn {
    background-color: $web;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background-color: $web-dark;
        color: $white;
    }
}

.notable-card {
    //2 cards 1 row for medium devices (2 colums, 1 row)
    @media screen and (min-width: $break-m) {
        grid-area: 1/2/2/3;
    }
    //2 cards 1 row for large devices (2 colums, 1 row)
    @media screen and (min-width: $break-lg) {
        grid-area: 1/2/2/3;
    }
    //3 cards 1 row for xlarge devices (3 colums, 1 row)
    @media screen and (min-width: $break-xl) {
        grid-area: 1/2/2/3;
    }
}

.notable-title {
    color: $tele;
}

.notable-btn {
    background-color: $tele;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background-color: $tele-dark;
        color: $white;
    }
}

.job-card {
    //Hide Card
    @media screen and (min-width: $break-m) {
        visibility: hidden;
    }
    //Hide Card
    @media screen and (min-width: $break-lg) {
        visibility: hidden;
    }
    //3 cards 1 row for xlarge devices (3 colums, 1 row)
    @media screen and (min-width: $break-xl) {
        visibility: visible;
        grid-area: 1/3/2/4;
    }
}

.job-title {
    color: $soft;
}

.job-btn {
    background-color: $soft;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background-color: $soft-dark;
        color: $white;
    }
}

.card-footer {
    width: 90%;
    padding: 1.5rem 0.5rem !important;
    margin-top: auto;
    img {
        padding-right: 1rem;
    }
}
/*========== CLIENTS =========*/
.clients {
    border: 1px solid purple;
    height: 20vh;
}
/*========== EMAIL FORM ======*/
.email {
    height: 60vh;
    background-color: $lightgrey;
}

.email-wrapper {
    width: 85% !important;
    margin: 0 auto;
}

.email-header,
.form-label,
.form-check,
.form-check-label {
    color: $dark-blue;
    letter-spacing: 0.1rem;
}

.email-header {
    font-weight: 400;
    font-size: 2rem !important;
}

.form-label,
.form-check,
.form-check-label {
    font-weight: 700;
}

.form-check label {
    display: inline-block
}

.form-check input {
    border: 0.2rem solid $dark-blue !important;
    background-color: $lightgrey;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    display: inline-block;
}

.form-check-label {
    line-height: 1.8;
}
.make-red {
    color: $tele-dark;
}

.subscribe-btn {
    background-color: $dark-blue !important;
    color: $white !important;
    text-transform: uppercase;
    &:hover {
        background-color:rgb(31, 34, 49) !important;
    }
}
/*========== FOOTER ==========*/
.footer {
    background-color: $dark-blue;
    height: 99vh;
    color: $white;
    padding-bottom: 2.5vh;
}

.footer-heading {
    text-transform: uppercase;
}

.footer-link {
    text-decoration: none;
    color: $white;
    &:hover {
        text-decoration: underline;
        color: $white;
    }
}

.social-wrapper {
    background-color: $darker-blue;
    @mixin fxalgnctr {
        justify-content: center;
    }
    i {
        text-align: center;
        width: 100%;
        color: $white;
        margin-top: 1rem;
    }
}

.facebook:hover {
    background-color: #43609C;
}
.twitter:hover {
    background-color: #55acee;
}
.insta:hover {
    background-color: #DD2A7B;
}
.linkedin:hover {
    background-color: #0072B1;
}
/*========== AWARDS ======*/
.awards {
    border: 1px solid teal;
    height: 50vh;
}
/*========== MEDIA QUERIES ===*/

@media screen and (max-width: 576px) {
    .clients {
        display: none !important;
    }
    .awards {
        display: none !important;
    }
  }

@media screen and (min-width: 576px) {
    .clients {
        display: none !important;
    }
    .awards {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .clients {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}