/*========== ABOUT ===========*/
.about {
    height: 75vh;
    background-color: $dark-blue;
    color: $white;
    margin: 0 !important;
    @include grid-setup;
    @media screen and (max-width: $break-m) {
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    }
    @media screen and (min-width: $break-m) {
        height: 50vh;
    }
    @media screen and (min-width: $break-lg) {
        
    }
    @media screen and (min-width: $break-xl) {
        height: 60vh;
        padding-left: 18.47%;
        padding-right: 18.47%;
    }
}

.about-title {
    font-size: 2.25rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        grid-area: 1/1/2/13;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        grid-area: 1/1/2/7;
    }
}

.about-intro {
    font-size: 1.2rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        grid-area: 2/1/3/13;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        grid-area: 2/1/3/7;
    }
}

.about-p1 {
    font-size: 1.15rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        grid-area: 3/1/4/13;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        grid-area: 3/1/4/7;
    }
}

.about-p2 {
    font-size: 1.15rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        grid-area: 4/1/5/13;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        grid-area: 4/1/5/7;
    }
}
.culture-btn {
    @include button-styles;
    @media screen and (max-width: $break-m) {
        grid-area: 5/1/6/7;
    }
    @media screen and (min-width: $break-m) {
        grid-area: 5/1/6/7;
    }
    @media screen and (min-width: $break-lg) {
        grid-area: 5/1/6/3;
    }
    @media screen and (min-width: $break-xl) {
        
    }
}