/*========== ABOUT ===========*/
.about {
    height: 75vh;
    background-color: $dark-blue;
    color: $white;
    margin: 0 !important;
    @media screen and (max-width: $break-m) {
    
    }
    @media screen and (min-width: $break-m) {
        height: 50vh;
    }
    @media screen and (min-width: $break-lg) {
        
    }
    @media screen and (min-width: $break-xl) {
        height: 60vh;
        padding-left: 18.47%;
        padding-right: 18.47%;
    }
}

.about-title {
    font-size: 2.25rem;
}

.about-intro {
    font-size: 1.2rem;
}

.about-p1 {
    font-size: 1.15rem;
}

.about-p2 {
    font-size: 1.15rem;
}
.culture-btn {
    @include button-styles;
}