/*========== AWARDS ======*/
.awards-wrapper {
    display: block;
    @media screen and (max-width: $break-m) {
      display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
      display: initial;
      height: 274px;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
      display: initial;
      height: 320px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      display: initial;
      height: 266px;
    }
}

.awards {
    @include flexcolumn;
    padding: 50px 0;
      //Medium and up
      @media screen and (min-width: $break-m) {
        width: 750px;
        @include mginlrauto;
        padding-left: 15px;
        padding-right: 15px;
      }
      //Large and Up
      @media screen and (min-width: $break-lg) {
        width: 970px;
        @include mginlrauto;
      }
      //Extra Large
      @media screen and (min-width: $break-xl) {
        max-width: 1200px;
        @include mginlrauto;
        padding-left: 15px;
        padding-right: 15px;
      }
}

.awards-row-one {
    @include flexrow;
}

.awards-row-two {
    @include flexrow;
    text-align: center;
    margin-top: 20px;
}

.awards-logo {
  vertical-align: middle;
  position: relative;
  flex-grow: 1;
  padding: 0 20px;
    img {
      height: auto;
      width: 100%;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0%);
      }
    }
}

.google {
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
  flex-grow: 1;
  img {
    height: 82px;
    width: 200px;
  }
}