/*========== CARDS ===========*/
.cards-wrapper {
    display: block;
    @media screen and (max-width: $break-m) {
        height: 2354px;
    }
    @media screen and (min-width: $break-m) {
        height: 1096px;
    }
    @media screen and (min-width: $break-lg) {
        height: 754px;
    }
    @media screen and (min-width: $break-xl) {
        height: 754px;
    }
}
.cards-section {
    background-color: rgba(255,255,255,0.1);
    @media screen and (max-width: $break-m) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    @media screen and (min-width: $break-m) {
        margin-right: auto;
        margin-left: auto;
        // padding: 1.25rem 2rem;
        width: 750px;
    }
    @media screen and (min-width: $break-lg) {
        margin-right: auto;
        margin-left: auto;
        width: 970px;
    }
    @media screen and (min-width: $break-xl) {
        margin-right: auto;
        margin-left: auto;
        width: 1200px;
    }
}

.column {
    @include flexcolumn;
    flex-basis: 100%;
    flex: 1;
}

.row-double {
    @media screen and (min-width: $break-m) {
        @include flexcolumn;
    }
    @media screen and (min-width: $break-lg) {
        @include flexcolumn; //is this needed?
    }
    @media screen and (min-width: $break-xl) {
        @include flexrow;
        > * {
            flex: 1 1 25%;
        }
    }
}

.row-one {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-top: 1rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        @include flexrow;
    }   
    //Extra Large
    @media screen and (min-width: $break-xl) {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

.row-two {
    @media screen and (min-width: $break-m) {
        display: flex;
    }
    @media screen and (min-width: $break-lg) {
        display: flex; //is this needed?
    }
    @media screen and (min-width: $break-xl) {
        display: flex; //is this needed?
    }
}
.row-three {
    @media screen and (min-width: $break-m) {
        display: flex;
    }
    @media screen and (min-width: $break-lg) {
        display: flex; //is this needed?
    }
}

.card {
    @include flexcolumn;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2rem;
    box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
    background-color: rgba(255,255,255,0.8);
}

.icon-border {
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    padding: 1rem;
}

.card-icon {
    color: $white;
    text-align: center;
    font-size: 1.25rem;
}

.card-title,
.card-text {
    text-align: center;
    color: $black;
    opacity: 90%;
    font-weight: $regular;
    &:hover {
        color: $white;
    }
}

.card-title {
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 28px 7%;
    background-position: center bottom, 0.2vw 0;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    font-weight: $regular;
}

.card-text {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-btn {
    display: inline-block;
    margin: auto auto 0 auto;
    text-transform: uppercase;
    height: auto;
    white-space: nowrap;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 5px 15px;
    text-align: center;
    border-radius: 3px;
}
    /*========== SOFT CARD =======*/
    .soft-card {
        .icon-border {
            background-color: $soft;
        }
        .soft-btn {
            background-color: $soft;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $soft-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $soft-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .soft-btn {
                background-color: $white;
                color: $soft-dark;
                text-decoration: none;
            }
        }
    }
    /*========== IT CARD =========*/
    .it-card {
        .icon-border {
            background-color: $it;
        }
        .it-btn {
            background-color: $it;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $it-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $it-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .it-btn {
                background-color: $white;
                color: $it-dark;
                text-decoration: none;
            }
        }
    }
    /*========== MARKET CARD =====*/
    .market-card {
        .icon-border {
            background-color: $market;
        }
        .market-btn {
            background-color: $market;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $market-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $market-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .market-btn {
                background-color: $white;
                color: $market-dark;
                text-decoration: none;
            }
        }
    }
    /*========== TELE CARD =======*/
    .tele-card {
        .icon-border {
            background-color: $tele;
        }
        .tele-btn {
            background-color: $tele;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $tele-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $tele-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .tele-btn {
                background-color: $white;
                color: $tele-dark;
                text-decoration: none;
            }
        }
    }
    /*========== WEB CARD ========*/
    .web-card {
        .icon-border {
            background-color: $web;
        }
        .web-btn {
            background-color: $web;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $web-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $web-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .web-btn {
                background-color: $white;
                color: $web-dark;
                text-decoration: none;
            }
        }
    }
    /*========== CYBER CARD ======*/
    .cyber-card {
        .icon-border {
            background-color: $cyber;
        }
        .cyber-btn {
            background-color: $cyber;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $cyber-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $cyber-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .cyber-btn {
                background-color: $white;
                color: $cyber-dark;
                text-decoration: none;
            }
        }
    }
    /*========== TRAIN CARD ======*/
    .train-card {
        .icon-border {
            background-color: $web;
        }
        .train-btn {
            background-color: $web;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $web;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $web;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .train-btn {
                background-color: $white;
                color: $web;
                text-decoration: none;
            }
        }
    }