/*========== CARDS ===========*/
.cards-section {
    height: 300vh;
    background-color: $lightgrey;
    //All on each row up to medium devices
    @media screen and (max-width: $break-m) {
        @include flexcolumn;
    }
    //3 on own row and 2 x 2 below for medium devices
    @media screen and (min-width: $break-m) {
        height: 180vh;
        flex-direction: row;
        flex-wrap: wrap;
    }
    //3 x 2 x 2 for large devices
    @media screen and (min-width: $break-lg) {
        height: 180vh;
    }
    //3 x 4 for xlarge devices
    @media screen and (min-width: $break-xl) {
        height: 75vh;
        padding-left: 18.47%;
        padding-right: 18.47%;
    }
}

.card {
    @include flexcolumn;
    align-items: center;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2rem;
    box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
}

.icon-border {
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    padding: 1rem;
    // width: 15%;
}

.card-icon {
    color: $white;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title,
.card-text {
    text-align: center;
    color: $black;
    opacity: 80%;
    font-weight: $regular;
    &:hover {
        color: $white;
    }
}

.card-title {
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 5vw 7%;
    background-position: center bottom, 0.2vw 0;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.card-btn {
    margin: auto auto 0 auto;
    text-transform: uppercase;
    width: 35%;
    white-space: nowrap;
    font-size: 1rem;
}
    /*========== SOFT CARD =======*/
    .soft-card {
        order: 1;
        .icon-border {
            background-color: $soft-dark;
        }
        .soft-btn {
            background-color: $soft-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $soft-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $soft-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .soft-btn {
                background-color: $white;
                color: $soft-dark;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 2;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {

        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }
    /*========== IT CARD =========*/
    .it-card {
        order: 2;
        .icon-border {
            background-color: $it-dark;
        }
        .it-btn {
            background-color: $it-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $it-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $it-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .it-btn {
                background-color: $white;
                color: $it-dark;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 2;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }
    /*========== MARKET CARD =====*/
    .market-card {
        order: 3;
        .icon-border {
            background-color: $market-dark;
        }
        .market-btn {
            background-color: $market-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $market-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $market-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .market-btn {
                background-color: $white;
                color: $market-dark;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 2;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }
    /*========== TELE CARD =======*/
    .tele-card {
        order: 4;
        .icon-border {
            background-color: $tele-dark;
        }
        .tele-btn {
            background-color: $tele-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $tele-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $tele-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .tele-btn {
                background-color: $white;
                color: $tele-dark;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 1;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }
    /*========== WEB CARD ========*/
    .web-card {
        order: 5;
        .icon-border {
            background-color: $web-dark;
        }
        .web-btn {
            background-color: $web-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $web-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $web-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .web-btn {
                background-color: $white;
                color: $web-dark;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 1;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }
    /*========== CYBER CARD ======*/
    .cyber-card {
        order: 6;
        .icon-border {
            background-color: $cyber-dark;
        }
        .cyber-btn {
            background-color: $cyber-dark;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $cyber-dark;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $cyber-dark;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .cyber-btn {
                background-color: $white;
                color: $cyber-dark;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 1;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }
    /*========== TRAIN CARD ======*/
    .train-card {
        order: 7;
        .icon-border {
            background-color: $web;
        }
        .train-btn {
            background-color: $web;
            color: $white;
            text-decoration: none;
        }
        &:hover {
            background-color: $web;
            .icon-border {
                background-color: white;
            }
            .card-icon {
                color: $web;
            }
            .card-title,
            .card-text {
            color: $white;
            }
            .card-title {
                background-image: linear-gradient($white, $white);
            }
            .train-btn {
                background-color: $white;
                color: $web;
                text-decoration: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            flex-grow: 1;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            
        }
    }