/*========== CLIENTS =========*/
.clients {
    border: 1px solid purple;
    height: 20vh;
    //Up to Medium
    @media screen and (max-width: $break-m) {
      display: none !important;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
      display: initial !important;
      height: 145px;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
      display: initial !important;
      height: 170px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      display: inital !important;
      height: 170px;
    }

}