/*========== CLIENTS =========*/
.clients-wrapper {
    display: block;
    background-color: $lightgrey-80;
    //Up to Medium
    @media screen and (max-width: $break-m) {
      display: none !important;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
      display: initial !important;
      max-width: 100%;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
      display: initial !important;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      display: inital !important;
    }
}
.clients {
    //Medium and up
    @media screen and (min-width: $break-m) {
      @include flexrow;
      width: 750px;
      @include mginlrauto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
      justify-content: space-around;
      width: 970px;
      @include mginlrauto;
      padding-left: 15px;
      padding-right: 15px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      justify-content: space-around;
      width: 1200px;
      @include mginlrauto;
    }
}

.client-title {
    font-weight: $regular;
    font-size: 0.875rem;
    &::after {
        content: ''; //Otherwise after won't work! 
        display: block; //Places on a seperate line
        margin: 0 auto; //Center the border to text
        width: 10%; //Border width
        padding-top: 1rem; //Create space between the element and border
        border-bottom: 3px solid $white; //Creates the border
    }
}

.show {
    img {
        height: auto;
        width: 100%;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0%);
        }
    }
    .tooltip {
        @include tooltip-main;
        padding: 20px;
        p {
            margin-top: 1rem;
            font-size: 0.875rem;
            font-weight: $light;
        }
        &::after { //Creates the dropdown arrow
            content: '';
            border-left: solid transparent 30px;
            border-right: solid transparent 30px;
            border-top: solid $dark-blue 30px;
            bottom: -29px; //Makes it sit flush with the bottom of the element
            height: 0;
            left: 37.5%; //Centers the arrow
            position: absolute; //Makes it appear below
            margin-left: 0px;
        }
    } 
    &:hover .tooltip {
        display: block;
        pointer-events: auto;
    }
}

.busseys-tooltip {
    //Large and Up
    @media screen and (min-width: $break-lg) {
      transform: translate(-30px , -267px); //Positions it above logo (L-R , U-D)
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      transform: translate(-30px , -265px); //Positions it above logo (L-R , U-D)
    }
}

.crane-tooltip {
    //Large and Up
    @media screen and (min-width: $break-lg) {
      transform: translate(20px , -327px); //Positions it above logo (L-R , U-D)
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      transform: translate(20px , -330px); //Positions it above logo (L-R , U-D)
    }
}

.beat-tooltip {
    //Large and Up
    @media screen and (min-width: $break-lg) {
      transform: translate(-90px , -266px); //Positions it above logo (L-R , U-D)
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      transform: translate(-88px , -265px); //Positions it above logo (L-R , U-D)
    }
}

.diver-tooltip {
    //Large and Up
    @media screen and (min-width: $break-lg) {
      transform: translate(30px , -307px); //Positions it above logo (L-R , U-D)
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      transform: translate(34px ,-308px); //Positions it above logo (L-R , U-D)
    }
}