/*========== CLIENTS =========*/
.clients-wrapper {
    display: block;
    background-color: $lightgrey-80;
    //Up to Medium
    @media screen and (max-width: $break-m) {
      display: none !important;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
      display: initial !important;
      max-width: 100%;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
      display: initial !important;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      display: inital !important;
    }
}
.clients {
    //Medium and up
    @media screen and (min-width: $break-m) {
      @include flexrow;
      width: 750px;
      @include mginlrauto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
      width: 970px;
      @include mginlrauto;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
      width: 1200px;
      @include mginlrauto;
    }
}

.show img {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
  }
}

#busseys {
  display: none;
}

.busseys-container {
  position: relative;
}

.busseys-container:hover + #busseys {
  display: block;
  position: absolute;
  bottom: 100px;
  left: -200px;
  right: -200px;
} 

.crane-container {
    .crane-tooltip {
        background-color: $dark-blue;
        color: $white;
        position: absolute;
        opacity: 0;
        &::before {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
        }
        &::after {
            content: '';
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-top: solid $dark-blue 10px;
            bottom: -10px;
            height: 0;
            left: 50%;
            position: absolute;
            margin-left: 13px;
            width: 0;
        }
    } 
    &:hover .crane-tooltip {
        opacity: 1;
        pointer-events: auto;
    } 
}