/*========== EMAIL FORM ======*/
.email {
    height: 60vh;
    background-color: $lightgrey;
}

.email-wrapper {
    width: 85% !important;
    margin: 0 auto;
}

.email-header,
.form-label,
.form-check,
.form-check-label {
    color: $dark-blue;
    letter-spacing: 0.1rem;
}

.email-header {
    font-weight: 400;
    font-size: 2rem !important;
}

.form-label,
.form-check,
.form-check-label {
    font-weight: 700;
}

.form-check label {
    display: inline-block
}

.form-check input {
    border: 0.2rem solid $dark-blue !important;
    background-color: $lightgrey;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    display: inline-block;
}

.form-check-label {
    line-height: 1.8;
}
.make-red {
    color: $tele-dark;
}

.subscribe-btn {
    background-color: $dark-blue !important;
    color: $white !important;
    text-transform: uppercase;
    &:hover {
        background-color:rgb(31, 34, 49) !important;
    }
}