/*========== FOOTER ==========*/
.footer {
    background-color: $dark-blue;
    height: 1046px;
    color: $white;
    padding-bottom: 2.5vh;
    @include flexcolumn;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}

.footer-heading {
    text-transform: uppercase;
}

.footer-link {
    text-decoration: none;
    color: $white;
    &:hover {
        text-decoration: underline;
        color: $white;
    }
}

.socials {
    @include flexcolumn;
    margin: 1rem 1rem;
}

.socials-top,
.socials-bottom {
    @include flexrow;
    justify-content: space-evenly;
}

.social-wrapper {
    background-color: $darker-blue;
    i {
        text-align: center;
        width: 100%;
        color: $white;
        margin-top: 1rem;
    }
}



.facebook:hover {
    background-color: #43609C;
}
.twitter:hover {
    background-color: #55acee;
}
.insta:hover {
    background-color: #DD2A7B;
}
.linkedin:hover {
    background-color: #0072B1;
}