/*========== FOOTER ==========*/
.footer {
    background-color: $dark-blue;
    height: 99vh;
    color: $white;
    padding-bottom: 2.5vh;
}

.footer-heading {
    text-transform: uppercase;
}

.footer-link {
    text-decoration: none;
    color: $white;
    &:hover {
        text-decoration: underline;
        color: $white;
    }
}

.social-wrapper {
    background-color: $darker-blue;
    @mixin fxalgnctr {
        justify-content: center;
    }
    i {
        text-align: center;
        width: 100%;
        color: $white;
        margin-top: 1rem;
    }
}

.facebook:hover {
    background-color: #43609C;
}
.twitter:hover {
    background-color: #55acee;
}
.insta:hover {
    background-color: #DD2A7B;
}
.linkedin:hover {
    background-color: #0072B1;
}