/*========== FOOTER ==========*/
.footer-wrapper {
    display: block;
    background-color: $dark-blue;
}

.footer {
    color: $white;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        @include flexcolumn;
        justify-content: space-evenly;
        padding: 2rem 1rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        @include flexrow;
        flex-wrap: wrap;
        width: 970px;
        @include mginlrauto;
        padding: 47px 0 43px;
        .footer-about,
        .footer-wymondham,
        .footer-gorleston,
        .footer-socials {
            width: 50%;
        }
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        @include flexrow;
        justify-content: space-evenly;
        width: 1200px;
        @include mginlrauto;
        padding: 47px 0 43px;
        .footer-about,
        .footer-wymondham,
        .footer-gorleston,
        .footer-socials {
            width: 25%;
        }
        h6 {
            margin-bottom: 1rem;
        }
    }
}

.footer-heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $regular;
    margin-bottom: 1rem;
}

.footer-links {
    @include flexcolumn;
    margin-bottom: 1rem;
}

.footer-link {
    text-decoration: none;
    color: $white;
    font-size: 0.8rem;
    margin-bottom: .25rem;
    &:hover {
        text-decoration: underline;
        color: $white;
    }
}

address {
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.25rem;
    a {
        margin: 1rem 0;
    }
}

.footer-socials {
    
}

.socials {
    @include flexcolumn;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin: 1rem 1rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        margin-left: -0.5rem;
    }
}

.socials-top,
.socials-bottom {
    @include flexrow;
    justify-content: space-evenly;
}

.social-wrapper {
    background-color: $darker-blue;
    padding: 0 5rem;
    margin: 0.5rem;
    span {
        @include flexctrboth;
        margin: .5rem auto;
    }
    i {
        text-align: center;
        color: $white;
        font-size: 1.6rem;
        font-weight: $regular;
    }
}
//===== INDIVIDUAL SOCIALS =====//
.facebook {
    height: 28.41px;
    width: 28px;
    &:hover {
    background-color: #43609C;
    }
}

.twitter {
    height: 28.41px;
    width: 28px;
    &:hover {
    background-color: #55acee;
    }
}

.insta {
    height: 28.41px;
    width: 28px;
    :hover {
        background-color: #DD2A7B;
    }
} 

.linkedin {
    height: 28.41px;
    width: 28px;
    :hover {
    background-color: #0072B1;
    }
}
    

.copyright {
    font-size: .75rem;
}