//========== HEADER/NAV ===============//
.navbar-wrapper { //Main wrapper
    display: block;
    //Up to medium
    @media screen and (max-width: $break-m) {
        height: 168px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        height: 110px;
        // padding: 20px 0;
    }
    //Large devices
    @media screen and (min-width: $break-lg) {
        height: 209px;
        
    }
    //X-large devices
    @media screen and (min-width: $break-xl) {
        height: 209px;
    }
}

.nav-bar { //Wraps Header and slider/cards section
    //Medium and up
    @media screen and (min-width: $break-m) {
        
    }
    //Large devices
    @media screen and (min-width: $break-lg) {
        @include flexcolumn;
        justify-content: space-evenly;
    }
    //X-large devices
    @media screen and (min-width: $break-xl) {
        @include flexcolumn;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
}

//========== HEADER SECTION ==========//
.header { //Wraps the standard elements but not the cards/slider section
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mginlrauto;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap;
        width: 750px;
        @include mginlrauto;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: flex;
        justify-content: space-evenly;
        width: 970px;
        @include mginlrauto;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        width: 1200px;
        @include mginlrauto;
        padding: 20px 0 20px 0;
    }
}

//===== LOGO STYLING =====//
.logo-wrapper {
    @include flexctrboth;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        width: 70%;
        order: 1;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        width: 50%;
        order: 1;
    }
    //Large devices
    @media screen and (min-width: $break-lg) {
        width: 41.66666667%;
        order: 1;
    }
    //X-large devices
    @media screen and (min-width: $break-xl) {
        width: 41.66666667%;
        order: 1;
    }
}

.logo {
    min-width: 100%;
    a {
        cursor: pointer;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: table;
        table-layout: fixed;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
    
    }
}
//===== LOGO STYLING ENDS =====//

//===== PHONE STYLING =====//
.phone-wrapper {
    font-size: 2rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        order: 2;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: none;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: none;
    }
}

.rotate {
    transform: rotate(315deg);
}
//===== PHONE STYLING ENDS =====//

//===== BURGER STYLING =====//
.burger-wrapper {
    //Up to medium
    @media screen and (min-width: $break-m) {
        order: 3;
    }
    //Medium and up
    @media screen and (max-width: $break-m) {
        order: 3;
    }
    //Large
    @media screen and (min-width: $break-lg) {
        order: 5;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        order: 5;
    }
}

.burger {
    background-color: $dark-blue;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 63px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px 0px 15px;
    h6 {
        color: $white;
        margin: auto;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.burger span { //burger icon
    position: relative;
    display: inline-block;
    width: 33px;
    height: 3px;
    background-color: $white;
    margin: auto;
    &::before,
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }
    &::before {
        top: -8px;
    }
    &::after {
        bottom: -8px;
    }
}
//===== BURGER STYLING ENDS=====//

//===== SEARCH STYLING =====//
.search-wrapper {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        order: 4;
        width: 100%;
        margin-top: 1rem;
    }
    //1 row layout medium and up
    @media screen and (min-width: $break-m) {
        width: 237px;
        height: 56px;
        order: 2;
    }
    //Large
    @media screen and (min-width: $break-lg) {
        order: 4;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        
    }
}

.search-container {
    
}

// .form {
//     @include flexrow;
//     justify-content: space-between;
// }

.search {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
    
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: none;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
    
    }
}

.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
    width: 100% !important;
    font-weight: $medium;
    font-size: 0.9rem;
    &:hover {
        box-shadow: none;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

#search-input {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .08) inset;
    outline: 1px solid hsla(0, 0%, 100%, .2);
    &::placeholder {
        color: $btn-grey-hover;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: inline;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: inline;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: none;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: inline;
    }
}

input[type=search] {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        background-color: $lightgrey-80;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        background-color: $white;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
    
    }
}

.search-btn {
    background: transparent;
    border: none;
    outline: none;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        position: absolute;
        top: 110px;
        right: 32px;
        i {
            font-size: 1.25rem;
        }
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        background-color: $btn-grey;
        height: 47px;
        width: 63px;
        position: relative;
        bottom: 64px;
        left: 173px;
        i {
            color: $white;
            font-size: 1.5rem;
        }
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        position: relative;
        bottom: 0px;
        left: 0px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        position: relative;
        bottom: 100px;
        left: 0px;
    }
}
//===== SEARCH STYLING ENDS=====//

//===== SUPPORT STYLING =====//
.support-wrapper {
    background-color: $btn-blue;
    border-radius: 3px;
    height: 56px;
    @include flexctrboth;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 15px;
    a {
        @include link-styles;
        font-size: 1.125rem;
    }
    span {
        font-size: 1.438rem;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: inline;
        order: 2;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: inline;
        order: 2;
    }
}
//===== SUPPORT STYLING ENDS=====//

//===== CONTACT STYLING =====//
.contact-wrapper {
    background-color: $btn-grey;
    border-radius: 3px;
    height: 56px;
    @include flexctrboth;
    padding: 5px 15px;
    a {
        @include link-styles;
        font-size: 1.125rem;
    }
    span {
        font-size: 1.438rem;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: inline;
        order: 3;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: inline;
        order: 3;
    }
}
//===== CONTACT STYLING =====//

//========== HEADER SECTION ENDS ==========//

//========== CARDS SECTION ================//
.cards-nav {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: initial;
        background-color: $dark-blue;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: initial;
        background-color: $dark-blue;
    }
}

.navcards-container {
    //Large and Up
    @media screen and (min-width: $break-lg) {
        width: 970px;
        height: 99px;
        @include mginlrauto;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        width: 1200px;
        height: 99px;
        @include mginlrauto;
    }
}

.cards-nav-list {
    @include flexrow;
    justify-content: space-evenly;
    li {
        list-style: none;
        // &:hover ul {
        //     display: flex;
        //     justify-content: space-evenly;
        // }
        ul {
            display: none;
        }
    }
}

.web,
.it,
.telecoms,
.software,
.digital,
.security {
    a {
        @include flexcolumn;
        text-align: center;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        padding: 19px 0 18px 0;
    }
    span {
        padding-bottom: 10px;
    }
}

.web {
    a {
        &:hover {
            background-color: $web;
            .fa-code {
                color: $white;
            }
        }
    }
    .fa-code{
        color: $web-dark;
        font-size: 1.438rem;
    }
}

.it {
    a {
        &:hover {
            background-color: $it;
            .fa-desktop {
                color: $white;
            }
        }
    }
    .fa-desktop {
        color: $it-dark;
        font-size: 1.438rem;
    }
}

.telecoms {
    a {
        &:hover {
            background-color: $tele;
            .fa-phone-volume {
                color: $white;
            }
        }
    }
    .fa-phone-volume {
        color: $tele-dark;
        font-size: 1.438rem;
    }
}

.software {
    a {
        &:hover {
            background-color: $soft;
            .fa-th {
                color: $white;
            }
        }
    }
    .fa-th {
    color: $soft-dark;
    font-size: 1.438rem;
    }
}

.digital {
    a {
        &:hover {
            background-color: $market;
            .fa-signal {
                color: $white;
            }
        }
    }
    .fa-signal {   
        color: $market-dark;
        font-size: 1.438rem;
    }
}

.security {
    a {
        &:hover {
            background-color: $cyber;
            .fa-shield-virus {
                color: $white;
            }
        }
    }
    .fa-shield-virus {
        color: $cyber-dark;
        font-size: 1.438rem;
    }
}



.menu {
    li {
        a {
            text-decoration: none;
            color: $white;
        }
    }
}
//========== CARDS SECTION ENDS ==========//