//========== HEADER/NAV ===============//
.navbar-wrapper { //Main wrapper
    display: block;
    //Up to medium
    @media screen and (max-width: $break-m) {
        height: 168px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        height: 110px !important;
    }
    //Large devices
    @media screen and (min-width: $break-lg) {
        height: 209px;
    }
    //X-large devices
    @media screen and (min-width: $break-xl) {
        height: 209px;
    }
}

.nav-bar { //Wraps Header and slider/cards section
    //Up to Medium
    @media screen and (max-width: $break-m) {
        @include mginlrauto;
        padding-left: 15px;
        padding-right: 15px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        padding-left: 0;
        padding-right: 0;
    }
    //Large devices
    @media screen and (min-width: $break-lg) {
        @include flexcolumn;
        justify-content: space-evenly;
    }
    //X-large devices
    @media screen and (min-width: $break-xl) {
        @include flexcolumn;
        justify-content: space-evenly;
    }
}

//========== HEADER SECTION ==========//
.header { //Wraps the standard elements but not the cards/slider section
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @include mginlrauto;
        padding-top: 28px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include mginlrauto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 18px;
        width: 750px;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: flex;
        justify-content: space-between;
        @include mginlrauto;
        padding: 20px 15px 26px 15px;
        width: 970px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: flex;
        @include mginlrauto;
        padding: 20px 0 20px 0;
        width: 1200px;
    }
}

/*=== FLEX GROW (MAX) - FLEX SHRINK (MIN) - FLEX BASIS (IDEAL SIZE)             =====
===== GROW (MAX) - 0 is the default and allows the container to grow with the   =====
=====              content inside it. 1 will make it take up all of the         =====
=====              available space. It's done in fractions (essentially) so if  =====
=====              there's two divs and one has a grow of 1 and the other of 2  =====
=====              the second one will take up twice the available space of the =====
=====              other.                                                       =====
===== SHRINK (MIN) - 1 is the default and this means that it will not shrink to =====
=====                smaller than its content. 0 means that it won't shrink at  =====
=====                all. Applying to multiple items divides up in the same way =====
=====                as grow.                                                   =====
===== BASIS (IDEAL) - This works best when used alongside grow and shrink. EG...=====
=====                 FLEX: 1 0 200px;                                          =====
=====                 If you have one element that has a flex-basis of 200px,   =====
=====                 flex-grow of 1, and flex-shrink of 0, this element will   =====
=====                 be at minimum 200px wide, but it will be allowed to grow  =====
=====                 if there is extra space. In this case, you can think of   ===== 
=====                 the flex-basis as being a minimum width.                  =====
=====                 FLEX: 0 1 200px;                                          =====
=====                 Let’s consider the opposite case. Let’s set a flex-basis  =====
=====                 of 200px again, but let’s only set a flex-shrink of 1,    =====
=====                 flex-grow will be 0. Here we will have an element that is =====
=====                 200px at it’s largest, but it’s allowed to be smaller.    =====
=====                 Here flex-basis is acting like a maximum width.           ===== 
=====                 An element that has a flex shrink value of 0, a flex grow =====
=====                 value of 0, but has a flex basis pixel value, will only   =====
=====                 ever be that pixel value size. It won’t shrink and it     =====
=====                 won’t grow. This would be the same as setting a pixel     =====
=====                 value to the width property.                              =====
=====                 FLEX: 1 0 auto;                                           =====
=====                 Auto is a cool keyword that lets us tell an element to be =====
=====                 the size of its content. This is useful when we don’t want=====
=====                 to give the element a min size or max size.               ===== 
===================================================================================*/

//===== LOGO STYLING =====//
.logo-wrapper {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        flex: 1 1 60%;
        order: 1;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        flex: 0 1 50%;
        order: 1;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-right: 28px;
    }
    //Large devices
    @media screen and (min-width: $break-lg) {
        width: 50%;
        order: 1;
    }
    //X-large devices
    @media screen and (min-width: $break-xl) {
        width: 41.66666667%;
        order: 1;
    }
}

.logo {
    width: 100%;
    height: auto;
    a {
        cursor: pointer;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: table;
        table-layout: fixed;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {

    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
    
    }
}
//===== LOGO STYLING ENDS =====//

//===== PHONE STYLING =====//
.phone-wrapper {
    font-size: 2rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-left: 20px;
        order: 2;
        flex: 0 1 70px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: none;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: none;
    }
}

.rotate {
    transform: rotate(315deg);
}
//===== PHONE STYLING ENDS =====//

//===== SUPPORT STYLING =====//
.support-wrapper {
    background-color: $btn-blue;
    border-radius: 3px;
    height: 56px;
    @include flexctrboth;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 15px;
    &:hover {
        background-color: $btn-blue-hover;
    }
    a {
        @include link-styles;
        font-size: 1.125rem;
    }
    span {
        font-size: 1.438rem;
        padding-right: 0.25rem;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: initial;
        order: 2;
        @include flexalignctr;
        white-space: nowrap;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: initial;
        order: 2;
        @include flexalignctr;
    }
}
//===== SUPPORT STYLING ENDS=====//

//===== CONTACT STYLING =====//
.contact-wrapper {
    background-color: $btn-grey;
    border-radius: 3px;
    height: 56px;
    @include flexctrboth;
    padding: 5px 15px;
    &:hover {
        background-color: $btn-grey-hover;
    }
    a {
        @include link-styles;
        font-size: 1.125rem;
    }
    span {
        font-size: 1.438rem;
        padding-right: 0.25rem;
    }
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: initial;
        order: 3;
        @include flexalignctr;
        white-space: nowrap;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: initial;
        order: 3;
        @include flexalignctr;
    }
}
//===== CONTACT STYLING =====//

//===== BURGER STYLING =====//
.burger-wrapper {
    //Up to medium
    @media screen and (min-width: $break-m) {
        margin-left: 20px;
        order: 3;
        flex: 0 0 63px;
    }
    //Medium and up
    @media screen and (max-width: $break-m) {
        margin-left: 20px;
        flex: 0 0 63px;
        order: 3;
    }
    //Large
    @media screen and (min-width: $break-lg) {
        order: 5;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        order: 5;
    }
}

.burger {
    background-color: $dark-blue;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 63px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 12px 15px 0px 15px;
    h6 {
        color: $white;
        margin: auto;
        font-size: 0.7rem;
        font-weight: $regular;
        padding-top: 4px;
        width: 31px;
    }
    &:hover {
        background-color: $darker-blue;
    }
}

.burger span { //burger icon
    position: relative;
    display: inline-block;
    width: 31px;
    height: 3px;
    background-color: $white;
    margin: auto;
    &::before,
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }
    &::before {
        top: -8px;
    }
    &::after {
        bottom: -8px;
    }
}
//===== BURGER STYLING ENDS=====//

//===== SEARCH STYLING =====//
.search-wrapper {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        order: 4;
        height: 47px;
        width: 100%;
        margin-top: 1.25rem;
        border: 2px solid rgba(0,0,0,.1);
        outline: 1px solid hsla(0,0%,100%,.2);
        background-color: $black-10;
    }
    //Medium
    @media screen and (min-width: $break-m) {
        order: 2;
        height: 56px;
        width: 237px;
        margin-left: 16px;
        margin-top: 0;
        border: none;
        background-color: $white;
    }
    //Large
    @media screen and (min-width: $break-lg) {
        order: 4;
        width: 63px;
        height: 56px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        order: 4;
        width: 303px;
    }
}
  
form.search-form {
    width: 100%;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        
    }
    input[type=text] { /* Style the search field */
        font-size: 14px;
        float: left;
        padding-bottom: 1.25px;
        background: transparent;
        font-weight: $extra-light;
        color: $lightgrey-80;
        //Up to Medium
        @media screen and (max-width: $break-m) {
            display: initial;
            height: 46px;
            width: 80%;
            padding-left: 16px;
            border: none;
            opacity: 0.8;
            &:focus {
                outline: none;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            display: initial;
            width: 75%;
            height: 54px;
            padding-left: 16px;
            border: 1px solid #ccc;
            opacity: .9;
            letter-spacing: .5px;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            display: none;
            border: 1px solid #ccc;
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            border-radius: 0;
            display: initial;
            border: 1px solid #ccc;
        }
    }
    button { /* Style the submit button */
        float: left;
        
        outline: none;
        color: white;
        border: none;
        border-radius: 0 3px 3px 0;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        text-align: right;
        vertical-align: bottom;
        overflow: visible;
        //Up to Medium
        @media screen and (max-width: $break-m) {
            background: transparent;
            color: $dark-blue;
            width: 20%;
            padding: 3px 8px 5px 20px;
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            width: 25%;
            background: $btn-grey;
            color: $white;
            padding: 6px 16px 2px 0px;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            border-radius: 3px;
            width: 100%;
            height: 100%;
            background: $btn-grey;
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            width: 20%;
            height: 56px;
            background: $btn-grey;
        }
        &:hover {
            //Up to Medium
            @media screen and (max-width: $break-m) {
                
            }
            //Medium and up
            @media screen and (min-width: $break-m) {
                background: $btn-grey-hover;
            }
            //Large and Up
            @media screen and (min-width: $break-lg) {
                background: $btn-grey-hover;
            }
            //Extra Large
            @media screen and (min-width: $break-xl) {
                background: $btn-grey-hover;
            }
        }
        i {
            font-size: 23px;
            line-height: 1;
            width: 23px;
            height: 46px;
            padding: 9px 0 3px 0;
        }
    }
    &::after { /* Clear floats */
        content: "";
        clear: both;
        display: table;
    }
}
//===== SEARCH STYLING ENDS=====//

//========== HEADER SECTION ENDS ==========//

//========== CARDS SECTION ================//
.cards-nav {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: none;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: initial;
        background-color: $dark-blue;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: initial;
        background-color: $dark-blue;
    }
}

.navcards-container {
    //Large and Up
    @media screen and (min-width: $break-lg) {
        width: 970px;
        height: 99px;
        @include mginlrauto;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        width: 1200px;
        height: 99px;
        @include mginlrauto;
    }
}

.cards-nav-list {
    @include flexrow;
    justify-content: space-between;
    li {
        list-style: none;
    }
}

.web,
.it,
.telecoms,
.software,
.digital,
.security {
    a {
        @include flexcolumn;
        text-align: center;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        padding: 19px 0 1px 0;
    }
    span {
        padding-bottom: 10px;
    }
}

.web {
    border-left: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    flex-grow: 1;

    a {
        &:hover {
            background-color: $web;
            .fa-code {
                color: $white;
            }
        }
    }
    .fa-code{
        color: $web-dark;
        font-size: 1.438rem;
    }
    
}

.web-show {
    .web-tooltip {
        display: flex;
        justify-content: center;
        background-color: $web-dark;
        opacity: 0;
        position: absolute;
        width: 100%;
        right: -1px;
        padding: 0;
        margin: 0;
        z-index: 10;
        // transform: translateX(-206px);
        &::before { //Shows the tootip
            content: '';
        }
        li:not(:last-child) a {
            text-align: left;
            display: block;
        }
        li:not(:last-child) a {
            padding-right: 30px;
            &::after {
                content: '-';
                padding-left: 30px;
            }
        }
    }
    &:hover .web-tooltip {
        opacity: 1;
        pointer-events: auto;
    }
}

.it {
    flex-grow: 1;
    border-left: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    a {
        &:hover {
            background-color: $it;
            .fa-desktop {
                color: $white;
            }
        }
    }
    .fa-desktop {
        color: $it-dark;
        font-size: 1.438rem;
    }
}

.it-show {
    .it-tooltip {
        display: flex;
        justify-content: center;
        background-color: $it-dark;
        opacity: 0;
        position: absolute;
        width: 100%;
        right: -1px;
        padding: 0;
        margin: 0;
        z-index: 10;
        // transform: translate(-28%);
        &::before { //Shows the tootip
            content: '';
        }
        li:not(:last-child) a {
            text-align: left;
            display: block;
        }
        li:not(:last-child) a {
            padding-right: 30px;
            &::after {
                content: '-';
                padding-left: 30px;
            }
        }
    }
    &:hover .it-tooltip {
        opacity: 1;
        pointer-events: auto;
    }
}

.telecoms {
    flex-grow: 1;
    border-left: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    a {
        &:hover {
            background-color: $tele;
            .fa-phone-volume {
                color: $white;
            }
        }
    }
    .fa-phone-volume {
        color: $tele-dark;
        font-size: 1.438rem;
    }
}

.telecoms-show {
    .telecoms-tooltip {
        display: flex;
        justify-content: center;
        background-color: $tele-dark;
        opacity: 0;
        position: absolute;
        width: 100%;
        right: -1px;
        padding: 0;
        margin: 0;
        z-index: 10;
        // transform: translate(-28%);
        &::before { //Shows the tootip
            content: '';
        }
        li:not(:last-child) a {
            text-align: left;
            display: block;
        }
        li:not(:last-child) a {
            padding-right: 30px;
            &::after {
                content: '-';
                padding-left: 30px;
            }
        }
    }
    &:hover .telecoms-tooltip {
        opacity: 1;
        pointer-events: auto;
    }
}

.software {
    flex-grow: 1;
    border-left: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    a {
        &:hover {
            background-color: $soft;
            .fa-th {
                color: $white;
            }
        }
    }
    .fa-th {
    color: $soft-dark;
    font-size: 1.438rem;
    }
}

.software-show {
    .software-tooltip {
        display: flex;
        justify-content: center;
        background-color: $soft-dark;
        opacity: 0;
        position: absolute;
        width: 100%;
        right: -1px;
        padding: 0;
        margin: 0;
        z-index: 10;
        // transform: translate(-28%);
        &::before { //Shows the tootip
            content: '';
        }
        li:not(:last-child) a {
            text-align: left;
            display: block;
        }
        li:not(:last-child) a {
            padding-right: 30px;
            &::after {
                content: '-';
                padding-left: 30px;
            }
        }
    }
    &:hover .software-tooltip {
        opacity: 1;
        pointer-events: auto;
    }
}

.digital {
    flex-grow: 1;
    border-left: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    a {
        &:hover {
            background-color: $market;
            .fa-signal {
                color: $white;
            }
        }
    }
    .fa-signal {   
        color: $market-dark;
        font-size: 1.438rem;
    }
}

.digital-show {
    .digital-tooltip {
        display: flex;
        justify-content: center;
        background-color: $market-dark;
        opacity: 0;
        position: absolute;
        width: 100%;
        right: -1px;
        padding: 0;
        margin: 0;
        z-index: 10;
        // transform: translate(-28%);
        &::before { //Shows the tootip
            content: '';
        }
        li:not(:last-child) a {
            text-align: left;
            display: block;
        }
        li:not(:last-child) a {
            padding-right: 30px;
            &::after {
                content: '-';
                padding-left: 30px;
            }
        }
    }
    &:hover .digital-tooltip {
        opacity: 1;
        pointer-events: auto;
    }
}

.security {
    flex-grow: 1;
    border-left: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    a {
        &:hover {
            background-color: $cyber;
            .fa-shield-virus {
                color: $white;
            }
        }
    }
    .fa-shield-virus {
        color: $cyber-dark;
        font-size: 1.438rem;
    }
}

.security-show {
    .security-tooltip {
        display: flex;
        justify-content: center;
        background-color: $cyber-dark;
        opacity: 0;
        position: absolute;
        width: 100%;
        right: -1px;
        padding: 0;
        margin: 0;
        z-index: 10;
        // transform: translate(-75%);
        &::before { //Shows the tootip
            content: '';
        }
        li a{
            @include mginlrauto;
        }
        li:not(:last-child) a {
            text-align: left;
            display: block;
        }
        li:not(:last-child) a {
            padding-right: 30px;
            &::after {
                content: '-';
                padding-left: 30px;
            }
        }
    }
    &:hover .security-tooltip {
        opacity: 1;
        pointer-events: auto;
    }
}



.menu {
    li {
        a {
            text-decoration: none;
            color: $white;
        }
    }
}
//========== CARDS SECTION ENDS ==========//