/*========== NEWS ============*/
// TITLE SECTION
.news-wrapper { // Wraps the entire section. Title and cards themselves.
    display: block;
}

.news-title { // Wraps the title section
    height: 104px;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-left: 1rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        padding-left: 1rem;
        width: 750px;
        @include mginlrauto;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        width: 970px;
        @include mginlrauto;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        width: 1200px;
        @include mginlrauto;
    }
}

.news-title-text {
    padding: 40px 0;
    font-size: 1.25rem;
    font-weight: $semibold;
    padding: 40px 0;
    color: $dark-blue;
    margin-bottom: 1.25rem;
    &::after { // Adds the mini border below the title text
        content: ' ';
        display: block;
        border-bottom: 5px solid $dark-blue;
        width: 15%;
        padding-top: 28px;
    }
    
}

//========== CARDS SECTION ==========//
.news {
    background-color: rgba(221, 221, 221, .4);
}

.news-cards-wrapper {
    //All on each row up to medium devices
    @media screen and (max-width: $break-m) {
        @include flexcolumn;
        padding: 50px 15px 25px 15px;
        @include mginlrauto;
    }
    //2 cards on one row for medium devices
    @media screen and (min-width: $break-m) {
        @include flexrow;
        width: 750px;
        @include mginlrauto;
    }
    //2 cards on one row for large devices
    @media screen and (min-width: $break-lg) {
        @include flexrow;
        width: 970px;
        @include mginlrauto;
    }
    //3 cards on one row for xlarge devices
    @media screen and (min-width: $break-xl) {
        @include flexrow;
        width: 1200px;
        @include mginlrauto;
    }
}

.news-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-bottom: 2rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        margin: 3rem 1rem 3rem 1rem;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.news-card-main::after {
    content: '';
    border-bottom: 1px solid $lightgrey;
    width: 90%;
    display: block;
    margin: 0 auto;
    // background-image: linear-gradient($lightgrey, $lightgrey);
    // background-repeat: no-repeat;
    // background-size: 85% 1px;
    // background-position: bottom left 2rem;
}

.card-img-top {
    overflow: hidden;
    position: relative;
    a {
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 5;
        color: $white;
        font-size: 0.75rem;
        font-weight: $semibold;
        line-height: 1.438rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        transition: all .25s ease-in-out;
        z-index: 1;
        &:hover {
            //Large and Up
            @media screen and (min-width: $break-lg) {
                transform: scale(1.1);
                opacity: 0.8;
            }
            //Extra Large
            @media screen and (min-width: $break-xl) {
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }
}

.scion {
    a {
        background-color: $web;
    }
}

.notable {
    a {
        background-color: $tele;
    }
}

.job {
    a {
        background-color: $soft;
    }
}

.card-footer::before {
    // content: '';
    // border-top: 1px solid $lightgrey;
    // width: 90%;
    // display: block;
}

.news-body {
    padding: 1rem 1rem;
    @include flexcolumn;
    margin-left: 1rem;
}

.scion-title,
.notable-title,
.job-title {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $semibold;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
} 

.news-text {
    font-weight: $light;
    font-size: .85rem;
    margin-bottom: 1.5rem;
    line-height: 1.375rem;
}

.news-btn {
    @include button-styles;
    margin: auto auto 1rem 0;
    height: auto;
    padding: 5px 15px;
    line-height: 35px;
}

//===== CARD FOOTER =====//
.card-footer {
    display: flex;
    padding-top: 1.5rem;
    margin: auto auto 1rem 2rem;
    img {
        margin-right: 1rem;
        height: auto;
        vertical-align: middle;
        border-radius: 50%;
    }
}

.posted-by {
    font-weight: $semibold;
    color: $dark-blue;
    line-height: 1.375rem;
    font-size: .875rem;
}

.text-muted {
    color: $black-25;
}

//===== SCION CARD =====//
.scion-title {
    color: $web;
}

.scion-btn {
    background-color: $web;
    color: $white;
    &:hover {
        background-color: $web-dark;
        color: $white;
    }
}

//===== NOTABLE CARD =====//
.notable-title {
    color: $tele;
}

.notable-btn {
    background-color: $tele;
    color: $white;
    &:hover {
        background-color: $tele-dark;
        color: $white;
    }
}

//===== JOB CARD =====//
.job-card {
    //Up to Medium
    @media screen and (max-width: $break-m) {
        display: initial;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        display: none;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        display: none;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        display: initial;
    }
}

.job-title {
    color: $soft;
}

.job-btn {
    background-color: $soft;
    color: $white;
    &:hover {
        background-color: $soft-dark;
        color: $white;
    }
}