/*========== NEWS ============*/
.news-title {
    height: 10vh;
}

.news-title-text {
    background-image: linear-gradient($dark-blue, $dark-blue);
    background-repeat: no-repeat;
    background-size: 15vw 5%;
    background-position: bottom left 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $dark-blue;
    padding-top: 2rem;
    margin-bottom: 0;
}

.news {
    background-color: $lightgrey;
    height: 200vh;
    //All on each row up to medium devices
    @media screen and (max-width: $break-m) {
        
    }
    //2 cards on one row for medium devices
    @media screen and (min-width: $break-m) {
        height: 70vh;
    }
    //2 cards on one row for large devices
    @media screen and (min-width: $break-lg) {
        height: 70vh;
    }
    //3 cards on one row for xlarge devices
    @media screen and (min-width: $break-xl) {
        height: 75vh;
    }
}

.scion-card,
.notable-card,
.job-card {
    img {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.news-body {
    padding: 1rem 1rem;
}

.news-text {
    color: $btn-grey;
}

.scion-card {
    
}

.scion-title {
    color: $web;
}

.scion-btn {
    background-color: $web;
    color: $white;
    @include button-styles;
    &:hover {
        background-color: $web-dark;
        color: $white;
    }
}

.notable-card {
    
}

.notable-title {
    color: $tele;
}

.notable-btn {
    background-color: $tele;
    color: $white;
    @include button-styles;
    &:hover {
        background-color: $tele-dark;
        color: $white;
    }
}

.job-card {
    //Hide Card
    @media screen and (min-width: $break-m) {
        visibility: hidden;
    }
    //Hide Card
    @media screen and (min-width: $break-lg) {
        visibility: hidden;
    }
    //3 cards 1 row for xlarge devices (3 colums, 1 row)
    @media screen and (min-width: $break-xl) {
        visibility: visible;
    }
}

.job-title {
    color: $soft;
}

.job-btn {
    background-color: $soft;
    color: $white;
    @include button-styles;
    &:hover {
        background-color: $soft-dark;
        color: $white;
    }
}

.card-footer {
    width: 90%;
    padding: 1.5rem 0.5rem !important;
    margin-top: auto;
    img {
        padding-right: 1rem;
    }
}