/*========== GLOBAL STYLES ===*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*:focus,*:hover{
    outline:none;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins_Font/Poppins-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    font-size: 1rem;
    background-color: #fff;
    letter-spacing: .4px;
    height: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

#container { 
    position: relative;
    height: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
    max-height: 100%;
}

.page-wrapper {
    z-index: 10;
}