/*========== GLOBAL STYLES ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    font-size: 1rem;
    background-color: #fff;
    letter-spacing: .4px
}

.page-wrapper {
    @include flexcolumn;
    
}