//Mixins
@mixin flexalignctr {
    display: flex;
    align-items: center;
}

@mixin flexjustifyctr {
    display: flex;
    justify-content: center;
}

@mixin flexctrboth {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexrow {
    display: flex;
    flex-direction: row;
}

@mixin button-styles {
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: 1px solid transparent;
    vertical-align: middle;
    font-weight: $regular;
    cursor: pointer;
    border-radius: 3px;
}

@mixin link-styles {
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    font-weight: $regular;
    color: $white;
}