//Mixins
@mixin fxalgnctr {
    display: flex;
    align-items: center;
}

@mixin grid-setup {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@mixin button-styles {
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
}