//Mixins
@mixin flexalignctr {
    display: flex;
    align-items: center;
}

@mixin flexjustifyctr {
    display: flex;
    justify-content: center;
}

@mixin flexctrboth {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin button-styles {
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}