//Color Variables
$dark-blue: #333645; //Logo, about, socials
$darker-blue: #262834;
$white: #fff;
$lightgrey: #ddd;
$lightgrey-80: rgba($lightgrey, 0.8);
$black: #000;
$black-25: rgba($black, 0.25);
$grey-text: #666;
$black-10: rgba($black, .1);
$btn-blue: #4183D7;
$btn-blue-hover: #2A6EC6; //Btn on hover
$btn-grey: #999AA2;
$btn-grey-hover: #84858F; //Btn on hover
$soft: #67809F; //Software card, nav
$soft-dark: #526784; // Darker on hover
$it: #4183D7; //IT card, nav
$it-dark: #286ABD; // Darker on hover
$market: #2ECC71; // Marketing card, nav
$market-dark: #25A25A; // Darker on hover
$tele: #D64541; // Telecoms card, nav
$tele-dark: #BC2C28; // Darker on hover
$web: #926FB1; // Web Design and Training Card, Nav
$web-dark: #79539A; // Darker on hover
$cyber: #F62459; // Cyber Security Card, Nav
$cyber-dark: #DE093F; // Darker on hover
//Font weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
//Breakpoint Variables
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-lg: 992px;
$break-xl: 1260px;