/*========== ABOUT ===========*/
.about-wrapper {
    background-color: $dark-blue;
    height: 100% !important;
    @media screen and (min-width: $break-lg) {
        background-image: url(/img/branded.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    @media screen and (min-width: $break-xl) {
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}
.about {
    color: $white;
    @include flexcolumn;
    justify-content: space-between;
    padding: 36px 15px 36px 15px;
    @media screen and (min-width: $break-m) {
        @include mginlrauto;
        width: 750px;
    }
    @media screen and (min-width: $break-lg) {
        padding: 30px 15px 50px 15px;
        width: 970px;
    }
    @media screen and (min-width: $break-xl) {
        padding: 50px 15px 50px 15px;
        width: 1200px;
    }
}
.about-title {
    font-size: 2.25rem;
    font-weight: $regular;
    padding-bottom: 28px;
    @media screen and (min-width: $break-lg) {
        padding-bottom: 20px;
    }
    @media screen and (min-width: $break-xl) {
        padding-bottom: 24px;
        width: 50%;
    }
}
.about-intro {
    font-size: 1rem;
    font-weight: $semibold;
    line-height: 1.9;
    padding-bottom: 25px;
    @media screen and (min-width: $break-lg) {
        padding-bottom: 20px;
    }
    @media screen and (min-width: $break-xl) {
        padding-bottom: 24px;
        width: 50%;
    }
}

.about-p1,
.about-p2 {
    font-size: 1rem;
    font-weight: $regular;
    line-height: 1.875rem;
    padding-bottom: 25px;
    @media screen and (min-width: $break-lg) {
        padding-bottom: 20px;
    }
    @media screen and (min-width: $break-xl) {
        padding-bottom: 24px;
        width: 50%;
    }
}
.culture-btn {
    height: auto;
    font-size: 1rem;
    font-weight: $regular;
    line-height: 35px;
    margin: 0 auto 0 0;
    padding: 5px 15px;
    border-radius: 3px;
    white-space: normal;
    @include button-styles;
    color: $dark-blue;
    &:hover {
        opacity: 97%;
    }
    .about-icon {
        margin-left: 12px;
    }
}
//===== Target IE Specifically =====//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .about-wrapper {
        display: flex;
        align-items: center;
    }
    .about {
        display: inline-block;
        @media screen and (min-width: $break-m) {
            padding: 36px 15px 36px 15px;
            @include mginlrauto;
            width: 750px;
        }
        @media screen and (min-width: $break-lg) {
            padding: 30px 15px 0px 15px;
            width: 970px;
        }
        @media screen and (min-width: $break-xl) {
            padding: 30px 15px 0px 15px;
            @include mginlrauto;
            width: 1200px;
        }
    }
}