/*========== AWARDS ======*/
.awards-wrapper {
    display: none;
    @media screen and (min-width: $break-m) {
      display: initial;
      height: auto;
    }
}
.awards {
    @include flexcolumn;
    padding: 50px 0;
      @media screen and (min-width: $break-m) {
        width: 750px;
        @include mginlrauto;
        padding-left: 15px;
        padding-right: 15px;
      }
      @media screen and (min-width: $break-lg) {
        width: 970px;
      }
      @media screen and (min-width: $break-xl) {
        width: 1200px;
        padding: 50px 15px;
      }
}
.awards-row-one {
    @include flexrow;
    justify-content: space-between;
}
.awards-row-two {
    @include flexrow;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}
.awards-logo {
  vertical-align: middle;
  position: relative;
  flex: 0 1 auto;
  padding: 0 20px;
    img {
      height: auto;
      width: 100%;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0%);
      }
    }
}
.google {
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
  flex: 0 1 auto;
  img {
    height: 82px;
    width: 200px;
  }
}
.future50 {
  background-image: url('/img/future-50-bw.jpg');
  width: 40px;
  height: 70px;
  &:hover {
    background-image: url('/img/future-50.jpg');
    width: 40px;
    height: 70px;
  }
}
.qms {
  background-image: url('/img/qms-bw.jpg');
  width: 60px;
  height: 70px;
  &:hover {
    background-image: url('/img/qms.jpg');
    width: 60px;
    height: 70px;
  }
}
.carbon {
  background-image: url('/img/norfolk-carbon-charter-bw.jpg');
  width: 175px;
  height: 70px;
  &:hover {
    background-image: url('/img/norfolk-carbon-charter.jpg');
    width: 175px;
    height: 70px;
  }
}
.future-growth {
  background-image: url('/img/investing-in-future-growth-bw.jpg');
  width: 175px;
  height: 58px;
  &:hover {
    background-image: url('/img/investing-in-future-growth.jpg');
    width: 175px;
    height: 58px;
  }
}
.princess-royal {
  background-image: url('/img/princess-royal-training-bw.jpg');
  width: 175px;
  height: 44px;
  &:hover {
    background-image: url('/img/princess-royal-training.jpg');
    width: 175px;
    height: 44px;
  }
}
.business-awards {
  background-image: url('/img/skills-of-tomorrow-bw.jpg');
  width: 175px;
  height: 58px;
  &:hover {
    background-image: url('/img/skills-of-tomorrow.jpg');
    width: 175px;
    height: 58px;
  }
}