//=========================================================//
//==================== BANNER =============================//
//=========================================================//
.contact-banner-wrapper {
    background-color: $dark-blue;
    color: white;
    padding: 24px 0;
    display: flex;
    align-items: center;
    @media screen and (min-width: $break-lg) {
        padding-top: 50px;
        background-color: $white;
        color: $dark-blue;
    }
    h1 {
        width: 750px;
        font-weight: 400;
        font-size: 2.25rem;
        padding: 0 15px;
        margin: 0 auto;
        @media screen and (min-width: $break-lg) {
            width: 970px;
        }
        @media screen and (min-width: $break-xl) {
            width: 1200px;
        }
    }
}
//=========================================================//
//==================== LOCATION CARDS =====================//
//=========================================================//
.location-card-container {
    margin: 50px auto 0;
    padding: 0 15px;
    @media screen and (min-width: $break-m) {
        width: 750px;
    }
    @media screen and (min-width: $break-lg) {
        width: 970px;
        padding: 0;
        display: flex;
    }
    @media screen and (min-width: $break-xl) {
        width: 1200px;
    }
}

.location-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0,0,0, 10%);
    margin-top: 30px;
    @media screen and (min-width: $break-lg) {
        width: 33.333333%;
        margin: 0 15px;
    }
}

.location-card-main {
    .location-body {
        padding: 30px;
        h2 {
            font-size: 18px;
            color: $dark-blue;
            margin-bottom: 15px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .location-address {
            font-size: .8125rem;
            line-height: 1.375rem;
            font-weight: 400;
            margin-bottom: 15px;
            color: $grey-text;
        }
        .location-tel-no {
            @include link-styles;
            color: $web;
            font-size: 1.625rem;
            font-weight: $bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.location-img-top {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .25s ease-in-out;
        z-index: 1;
        &:hover {
            cursor: pointer;
            // @media screen and (min-width: $break-lg) {
            //     transform: scale(1.1);
            //     opacity: 0.8;
            //     overflow: clip !important;
            // }
        }
    }
}

.location-btn-wrapper {
    margin-top: 30px;
    .location-btn {
        @include button-styles;
        background: $web;
        color: $white;
        height: auto;
        line-height: 35px;
        margin-top: 15px;
        font-size: 1.1rem;  
        padding: 5px 30px;
        &:hover {
            background: $web-dark;
        }
    }
}


//=========================================================//
//==================== MAPS ===============================//
//=========================================================//
#map-cambridge,
#map-wymondham,
#map-yarmouth {
    width: 100%; 
    height: 300px;
}

//=========================================================//
//==================== OPENING & FORM WRAPPER =============//
//=========================================================//
.bottom-wrapper {
    background: $white !important;
    margin: 0 auto;
    @media screen and (min-width: $break-m) {
        width: 750px;
    }
    @media screen and (min-width: $break-lg) {
        width: 970px;
    }
    @media screen and (min-width: $break-xl) {
        width: 1200px;
    }
}

//=========================================================//
//==================== OPENING TIMES ======================//
//=========================================================//
.opening-times-wrapper {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: $break-xl) {
        width: 33%;
        float: right;
    }
    .opening-times-p {
        line-height: 1.875rem;
        margin-bottom: 25px;
        font-weight: $semibold;
    }
    
}
.sales-email {
    color: $web;
    text-decoration: none;
    font-weight: $semibold;
    font-size: 1.625rem;
}

.out-of-hours-accordian {
    display: none;
}

//=========================================================//
//==================== ENQUIRY FORM =======================//
//=========================================================//
.enquiry-form-wrapper {
    background: #e6e7e9;
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px 50px;
    @media screen and (min-width: $break-m) {
        margin: 0 auto 50px;
    }
    @media screen and (min-width: $break-xl) {
        width: 66%;
        float: left;
    }
    .name-mail,
    .tel-subject {
        @media screen and (min-width: $break-lg) {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .name-wrap,
    .mail-wrap,
    .tel-no-wrap,
    .subject-wrap {
        width: 50%;
        padding: 0 15px;
    }
    .enquiry-btn {
        background-color: $web;
        color: $white;
        @include button-styles;
        padding: 5px 15px;
        font-size: 1.063rem;
        text-align: center;
        line-height: 35px;
        display: flex;
        justify-content: center;
        &:hover {
            background-color: $web-dark;
        }
    }
}

.form-label-enq {
    font-weight: $semibold;
    color: $dark-blue;
    margin-bottom: 5px;
}

.form-control-enq {
    width: 100%;
    height: 3rem;
    background-color: $white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,8%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding-left: 15px;
    &:focus {
        box-shadow: 0px 0px 5px 1px #5BC0DE;
    }
}

#inputMessage {
    min-height: 100px;
}

.has-error {
    border-color: #d64541;
}

.enq-form-error {
    background: #F2DEDE;
    border: 2px solid #EBCCD1;
    border-radius: 3px;
    color: #A94442;
    display: none;
    padding: 1rem;
    margin: .5rem auto;
}

.error-display {
    display: block;
}

.enq-form-success {
    background: #2ECC71;
    border: 2px solid #2ECC71;
    border-radius: 3px;
    color: white;
    display: block;
    padding: 1rem;
    margin: .5rem auto;
}

// .success-display {
//     display: block;
// }
// .enquiry-form {
//     input:required {
//         border: 1px solid #ccc;
//         box-shadow: inset 0 1px 1px rgba(0,0,0,8%);
//     }
//     input:invalid:required {
//         border-color: #d64541;
//       }
//     textarea:invalid:required {
//         border-color: #d64541;
//     }
// }