.cookies-modal-outer { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
}

.cookies-modal-inner { 
    margin: auto;
    position: relative;
    width: auto;
}

.cookies-box { 
    position: relative;
    background-color: $white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 50%);
    z-index: 101;
    @media screen and (min-width: $break-m) {
        width: 600px;
    }
}
.cookies-header { 
    min-height: 16.42857143px;
    padding: 15px 20px;
    border-bottom: 1px solid $lightgrey;
    .cookies-title { 
        margin: 0;
        line-height: 1.4287143;
        font-weight: 400;
        color: $dark-blue;
        font-size: 26px;
    }
}

.cookies-body { 
    position: relative;
    padding: 20px;
    .cookies-para {
        padding: 0 0 25px 0;
        color: $grey-text;
        line-height: 1.875rem;
        @media screen and (min-width: $break-lg) {
            padding: 0 0 1.25rem 0;
            line-height: 1.875rem;
        }
    }
}

.cookies-footer { 
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid $lightgrey;
    .modal-buttons { 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media screen and (min-width: $break-m) {
            flex-direction: row;
            margin-left: -15px;
            margin-right: -15px;
        }
        .change-settings,
        .accept-cookies {
            @include button-styles;
            height: auto;
            line-height: 35px;
            font-size: 1.063rem;
            color: white; 
            padding: 5px 15px;
            white-space: normal;
            @media screen and (min-width: $break-m) {
                width: 50%;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .change-settings {
            background-color: $btn-grey;
            margin-bottom: 30px;
            @media screen and (min-width: $break-m) {
                margin-bottom: 0;
            }
            &:hover {
                background-color: $btn-grey-hover;
            }
        }
        .accept-cookies {
            background-color: $web;
            &:hover {
                background-color: $web-dark;
            }
        }
    }
}