/*========== EMAIL FORM ======*/
.newsletter-wrapper {
    background-color: $lightgrey;
}
.email {
    @include flexcolumn;
    padding: 50px 45px;
    @include mginlrauto;
    @media screen and (min-width: $break-m) {
        width: 750px;
    }
    @media screen and (min-width: $break-lg) {
        width: 970px;
    }
    @media screen and (min-width: $break-xl) {
        width: 1200px;
    }
}
.email-header {
    color: $dark-blue;
    letter-spacing: 0.1rem;
    font-weight: $regular;
    font-size: 2rem;
    margin: 0 0 15px;
    line-height: 1.1;
}
.boxes {
    @media screen and (min-width: $break-lg) {
        @include flexrow;
        justify-content: space-between;
    }
    .name-wrapper,
    .mail-wrapper {
        flex: 1 1 450px;
        padding-left: 0;
        @media screen and (min-width: $break-lg) {
            padding-left: 15px;
        }
        input {
            margin-top: 0.25rem;
        }
    }
}
.make-red {
    color: $tele-dark;
}
.form-label {
    font-weight: $semibold;
    color: $dark-blue;
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    height: 3rem;
    background-color: $white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,8%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding-left: 15px;
    &:focus {
        box-shadow: 0px 0px 5px 1px #5BC0DE;
    }
}
//========== CHECK BOX AND LABEL ==========//
//Customise the label (container)
.checkbox-container {
    display: block;
    position: relative;
    line-height: 2rem;
    font-weight: $semibold;
    color: $dark-blue;
    padding-left: 48px;
    margin-bottom: 2rem;
    a {
        color: $dark-blue;
        &:hover {
            color: $darker-blue;
        }
    }
    // Hide the default checkbox
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark { //When the checkbox is checked add a blue background
            background-color: $dark-blue;
            &::after { // Show the checkmark when checked
                display: block;
            }
        }
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $lightgrey;
        border: 3px solid $dark-blue;
        border-radius: 3px;
        height: 32px;
        width: 32px;
        margin-right: 20px;
        &:hover {
            cursor: pointer;
        }
        &::after { // Create the checkmark/indicator (hidden when not checked)
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 3px;
            width: 0.5rem;
            height: 1rem;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
// SUBSCRIBE BUTTON
.subscribe-btn {
    background-color: $dark-blue;
    color: $white;
    @include button-styles;
    width: 130px;
    height: 45px;
    padding: 5px 15px;
    font-size: 1.063rem;
    text-align: center;
    line-height: 35px;
    display: flex;
    justify-content: center;
    &:hover {
        background-color:rgb(31, 34, 49) !important;
    }
}