/*========== FOOTER ==========*/
.footer-wrapper { // Wraps all of it
    display: block;
    background-color: $dark-blue;
}
.footer { // Inner container wrapping the six sections
    color: $white;
    padding: 47px 15px 43px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $break-m) {
        width: 750px;
        @include mginlrauto;
        display: flex;
        align-items: unset;
        flex-wrap: wrap;
        padding: 47px 15px 43px 15px;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        flex-wrap: wrap;
        width: 970px;
        @include mginlrauto;
        padding: 47px 15px 43px 15px;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        @include flexrow;
        justify-content: space-evenly;
        width: 1200px;
        @include mginlrauto;
        padding: 47px 0 43px;
        h4 {
            margin-bottom: 1rem;
        }
    }
    .footer-about-services { //container for the about and services sections
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 500px) {
            flex-direction: row;
        }
        @media screen and (min-width: $break-m){
            display: flex;
            justify-content: space-evenly;
        }
        @media screen and (min-width: $break-xl){
            display: flex;
            justify-content: space-between;
        }
    }
}
//========== FOOTER ABOUT/SERVICES =======//
.footer-about {
    white-space: nowrap;
    width: 225px;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-bottom: 30px;
    }
}
.footer-services {
    width: 225px;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-bottom: 30px;
    }
}
.footer-heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $regular;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-bottom: 1.5rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        margin-bottom: 1.5rem;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        padding-bottom: 10px;
    }
}
.footer-links {
    @include flexcolumn;
    font-size: 13px;
    margin-bottom: 0;
    @media screen and (min-width: $break-m) {
        margin-bottom: 30px;
    }
}
.footer-link {
    text-decoration: none;
    color: $white;
    font-size: 0.8rem;
    margin-bottom: .25rem;
    &:hover {
        text-decoration: underline;
        color: $white;
    }
}
//========== FOOTER ABOUT/SERVICES ENDS =//
.footer-addresses {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (min-width: 500px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $break-m) {
        flex-direction: row;
    }
    @media screen and (min-width: $break-xl) {
        justify-content: space-around;
    }
}
//========== FOOTER CAMBRIDGE ===========//
.footer-cambridge,
.footer-wymondham,
.footer-gorleston {
    white-space: nowrap;
    width: 225px;
    margin-bottom: 45px;
    @media screen and (min-width: $break-m) {
        margin-bottom: 30px;
    }
}
address {
    font-style: normal;
    font-size: 13px;
    line-height: 1.25rem;
    a {
        margin: 1rem 0;
    }
}
//========== FOOTER CAMBRIDGE ENDS =====//

//========== FOOTER WYMONDHAM ==========//
// .footer-wymondham {
//     white-space: nowrap;
//     width: 225px;
//     margin-bottom: 45px;
//     @media screen and (min-width: $break-m) {
//         margin-bottom: 30px;
//     }
// }
// address {
//     font-style: normal;
//     font-size: 13px;
//     line-height: 1.25rem;
//     a {
//         margin: 1rem 0;
//     }
// }
//========== FOOTER WYMONDHAM ENDS =====//

//========== FOOTER GORLESTON ==========//
// .footer-gorleston {
//     font-size: 13px;
//     width: 225px;
//     white-space: nowrap;
//     margin-bottom: 45px;
//     @media screen and (min-width: $break-m) {
//         margin-bottom: 30px;
//     }
// }
//========== FOOTER GORLESTON ENDS =====//

//========== FOOTER SOCIALS ============//
.footer-socials { //Wraps the copyright, sitemap and social icons.
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $lightgrey;
    @media screen and (min-width: $break-m) {
        width: 100%;
        p {
            display: inline-block;
        }
    }
    @media screen and (min-width: $break-xl) {
        align-self: flex-end;
        flex: 1 0 800px;
    }
    a,
    p {
        font-size: 0.8125rem;
        line-height: 1.375rem; 
    }
}
.socials {
    @include flexrow;
    justify-content: flex-end;
    padding-top: .5rem;
}

.social-wrapper { //Creates the background boxes for the icons
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    height: 2rem;
    width: 2rem;
    a {
        text-decoration: none;
        text-align: center;
        color: $white;
        font-size: .9rem;
        font-weight: $regular;
    }
    &:hover {
        cursor: pointer;
        border-radius: 50%;
    }
}
//========== FOOTER SOCIALS ENDS =========//

//===== INDIVIDUAL SOCIALS =====//
.facebook {
    &:hover {
        background-color: #43609C;
    }
}
.twitter {
    &:hover {
        background-color: #55acee;
    }
}
.insta {
    &:hover {
        background-color: #DD2A7B;
    }
} 
.linkedin {
    &:hover {
        background-color: #0072B1;
    }   
}
.sitemap-wrapper {
    margin-top: .75rem;
    display: flex;
    line-height: .4px;
    span {
        margin-left: 10px;
        margin-right: -30px;
        margin-top: .7rem;
        @media screen and (min-width: 325px) {
            margin-right: 10px;
        }
    }
    .copyright {
        font-size: .8125rem;
    }
}
//===== Target IE Specifically =====//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .footer-socials {
        @media screen and (max-width: 425px) {
            width: 300px;
        }
        @media screen and (min-width: 425px) {
            width: 400px;
        }
        @media screen and (min-width: 768px) {
            width: 700px;
        }
        @media screen and (min-width: $break-lg) {
            width: 900px;
        }
        @media screen and (min-width: $break-xl) {
            width: 1200px;
        }
    }
}
