/*========== HERO ============*/
.hero-wrapper {
    min-height: 490px;
    display: block;
    //Up to medium devices
    @media screen and (max-width: $break-m) {
        height: calc(100vh - 168px);
    }
    //Medium devices
    @media screen and (min-width: $break-m) {
        height: calc(100vh - 110px);
    }
    //Large Devices
    @media screen and (min-width: $break-lg) {
        height: calc(100vh - 209px);
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        height: calc(100vh - 209px);
    }
}
.slide {
    z-index: 1;
    position: relative;
}
.hero-image-overlay {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(270deg, transparent 25%, #000);
    }
    
}
.hero-text-wrapper {
    position: absolute;
    top: 35%;
    right: 15%;
    display: flex;
    z-index: 10;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mginlrauto;
        margin-top: 24px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        width: 750px;
        @include mginlrauto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        width: 970px;
        @include mginlrauto;
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        width: 1200px;
        @include mginlrauto;
    }
}
.hero-title,
.hero-subtitle {
    color: $white;
    text-align: center;
    font-weight: 400;
    //Large and Up
    @media screen and (min-width: $break-lg) {
    text-align: left;
    }
}
.hero-title {
    text-transform: uppercase;
    font-size: 3rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-bottom: 16px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        margin-bottom: 1rem;
    }
}
.hero-subtitle {
    line-height: 2.25rem;
    margin-bottom: 2.25rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        font-size: 1.25rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
}
.hero-button {
    color: $white;
    @include button-styles;
    margin: auto auto 0 auto;
    height: auto;
    font-size: 1.25rem;
    padding: 3px 20px;
    text-align: center;
    line-height: 50px;
    .hero-icon i {
        margin-left: 12px;
        font-weight: $semibold;
        font-size: 18px;
        line-height: 50px;
    }
}
.web-button {
    background-color: $web;
    &:hover {
        background-color: $web-dark;
    }
}
.it-button {
    background-color: $it;
    &:hover {
        background-color: $it-dark;
    }
}
.tele-button {
    background-color: $tele;
    &:hover {
        background-color: $tele-dark;
    }
}
.soft-button {
    background-color: $soft;
    &:hover {
        background-color: $soft-dark;
    }
}
.market-button {
    background-color: $market;
    &:hover {
        background-color: $market-dark;
    }
}
.cyber-button {
    background-color: $cyber;
    &:hover {
        background-color: $cyber-dark;
    }
}
.slick-dots li button::before {
    position: absolute;
    top: -64px;
    color: white;
    opacity: .5;
    font-size: 12px;
}
.slick-dots li.slick-active button:before {
    color:white;
    opacity: 1;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0 16px 18px 4px;
    margin-top: -2px;
}
//===== Target IE Specifically =====//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .hero-text-wrapper {
            @media screen and (max-width: 425px) {
                max-width: 250px;
            }
            .hero-subtitle {
                @media screen and (max-width: 425px) {
                    max-width: 250px;
                }
            }
        }
}