/*========== HERO ============*/
.hero-wrapper {
    // min-height: 490px;
    position: relative;
    // height: auto;
    margin-top: 168px; //To account for the floating header
    display: block;
    //Up to medium devices
    @media screen and (max-width: $break-m) {
        height: calc(100vh - 168px);
    }
    //Medium devices
    @media screen and (min-width: $break-m) {
        height: calc(100vh - 110px);
        margin-top: 110px; //To account for the floating header
    }
    //Large Devices
    @media screen and (min-width: $break-lg) {
        height: calc(100vh - 209px);
        margin-top: 209px; //To account for the floating header
    }
}
.slide {
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 715px;
    //Medium devices
    @media screen and (min-width: $break-m) {
        height: calc(100vh - 110px);
    }
    //Large Devices
    @media screen and (min-width: $break-lg) {
        height: calc(100vh - 209px);
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        height: calc(100vh - 209px);
    }
}
.hero-image-overlay { //Creates the black mainly opaque overlay
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(270deg, transparent 25%, #000);
    }
}
.hero-text-wrapper {
    position: absolute;
    top: 20%;
    padding: 0 15px;
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //Medium and up
    @media screen and (min-width: $break-m) {
        width: 750px;
        @include mginlrauto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    //Large and Up
    @media screen and (min-width: $break-lg) {
        top: 30%;
        width: 970px;
        @include mginlrauto;
        padding-left: 40px;
        padding-right: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    //Extra Large
    @media screen and (min-width: $break-xl) {
        width: 1200px;
        @include mginlrauto;
        top: 30%;
        right: 10%;
    }
    //XXL
    @media screen and (min-width: 1920px) {
        width: 1200px;
        @include mginlrauto;
        top: 38%;
        right: 28%;
    }
}
.hero-title,
.hero-subtitle {
    color: $white;
    text-align: center;
    font-weight: 400;
    //Large and Up
    @media screen and (min-width: $break-lg) {
    text-align: left;
    }
}
.hero-title {
    text-transform: uppercase;
    font-size: 3rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        margin-bottom: 16px;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        margin-bottom: 1rem;
    }
}
.hero-subtitle {
    line-height: 2.25rem;
    margin-bottom: 2.25rem;
    //Up to Medium
    @media screen and (max-width: $break-m) {
        font-size: 1.25rem;
    }
    //Medium and up
    @media screen and (min-width: $break-m) {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
}
.hero-button {
    color: $white;
    @include button-styles;
    margin: auto auto 0 auto;
    height: auto;
    font-size: 1.25rem;
    padding: 3px 20px;
    text-align: center;
    line-height: 50px;
    .hero-icon i {
        margin-left: 12px;
        font-weight: $semibold;
        font-size: 18px;
        line-height: 50px;
    }
}
.web-slide { 
    background-image: url("/img/home-3wAI.jpg");    
}
.web-button {
    background-color: $web;
    &:hover {
        background-color: $web-dark;
    }
}
.it-slide { 
    background-image: url("/img/it-carousel2.jpg");
}
.it-button {
    background-color: $it;
    &:hover {
        background-color: $it-dark;
    }
}
.tele-slide { 
    background-image: url("/img/telecoms-carousel3.jpg");
}
.tele-button {
    background-color: $tele;
    &:hover {
        background-color: $tele-dark;
    }
}
.soft-slide { 
    background-image: url("/img/software-carousel4.jpg");
}
.soft-button {
    background-color: $soft;
    &:hover {
        background-color: $soft-dark;
    }
}
.market-slide { 
    background-image: url("/img/marketing-carousel5.jpg");
}
.market-button {
    background-color: $market;
    &:hover {
        background-color: $market-dark;
    }
}
.cyber-slide { 
    background-image: url("/img/cyber-carousel6.jpg");
}
.cyber-button {
    background-color: $cyber;
    &:hover {
        background-color: $cyber-dark;
    }
}
.slick-dots li button::before {
    position: absolute;
    top: -128px; //Where the dots are vertically in comparison to the hero itself
    color: white;
    opacity: .5;
    font-size: 12px;
    //Medium and up
    @media screen and (min-width: $break-m) {
        top: -64px; //Where the dots are vertically in comparison to the hero itself
    }
    //Large and up
    @media screen and (min-width: $break-lg) {
        top: -112px; //Where the dots are vertically in comparison to the hero itself
    }
    //XXL
    @media screen and (min-width: 1920px) {
        top: -80px; //Where the dots are vertically in comparison to the hero itself
    }
}
.slick-dots li.slick-active button::before {
    color:white;
    opacity: 1;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0px 15px 18px 3px; //Adjusts where the dots are relative to the border
    margin-top: -2px; //Corrects the position relative to the other dots
    @media screen and (min-width: $break-m) {
        padding: 0px 15px 18px 2px; //Adjusts where the dots are relative to the border
    }
}
//===== Target IE Specifically =====//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .hero-text-wrapper {
            @media screen and (max-width: 425px) {
                max-width: 250px;
            }
            .hero-subtitle {
                @media screen and (max-width: 425px) {
                    max-width: 250px;
                }
            }
        }
}