/*========== NEWS ============*/
// TITLE SECTION
.news-wrapper { // Wraps the entire section. Title and cards themselves.
    display: block;
}
.news-title { // Wraps the title section
    height: 104px;
    margin-left: 1rem;
    @media screen and (min-width: $break-m) {
        padding-left: 1rem;
        width: 750px;
        @include mginlrauto;
    }
    @media screen and (min-width: $break-lg) {
        width: 970px;
    }
    @media screen and (min-width: $break-xl) {
        width: 1200px;
    }
}
.news-title-text {
    padding: 40px 0;
    font-size: 1.25rem;
    font-weight: $semibold;
    padding: 40px 0;
    color: $dark-blue;
    margin-bottom: 1.25rem;
    &::after { // Adds the mini border below the title text
        content: ' ';
        display: block;
        border-bottom: 5px solid $dark-blue;
        width: 70px;
        padding-top: 28px;
    }
}
//========== CARDS SECTION ==========//
.news {
    background: linear-gradient(to bottom, #efefef 1%, 5%, #fff 15%);
}
.news-cards-wrapper {
    //All on each row up to medium devices
    display: block;
    @include flexcolumn;
    padding: 50px 15px 25px 15px;
    @include mginlrauto;
    align-self: center;
    //2 cards on one row for medium devices
    @media screen and (min-width: $break-m) {
        @include flexrow;
        width: 750px;
        padding: 20px 0px 25px 0px;
    }
    //2 cards on one row for large devices
    @media screen and (min-width: $break-lg) {
        width: 970px;
    }
    //3 cards on one row for xlarge devices
    @media screen and (min-width: $break-xl) {
        width: 1200px;
    }
}
.news-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 2rem rgba(156, 152, 152, 0.1);
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    @media screen and (min-width: $break-m) {
        margin: 2rem 1rem 2rem 1rem;
        height: 620px;
        flex: 1;
    }
    @media screen and (min-width: $break-lg) {
        height: 633px;
    }
    @media screen and (min-width: $break-xl) {
        height: 583px;
    }
    .news-card-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.card-img-top {
    overflow: hidden;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 10;
    a {
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 5;
        color: $white;
        font-size: 0.75rem;
        font-weight: $semibold;
        line-height: 1.438rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        height: auto;
        width: 100%;
        object-fit: cover;
        transition: all .25s ease-in-out;
        z-index: 1;
        &:hover {
            cursor: pointer;
            @media screen and (min-width: $break-lg) {
                transform: scale(1.1);
                opacity: 0.8;
                overflow: clip !important;
            }
        }
    }
}
.scion {
    background-color: $web;
}
.notable {
    background-color: $tele;
}
.job {
    background-color: $soft;
}
.news-body {
    padding: 1rem 1rem;
    @include flexcolumn;
    margin-left: 1rem;
}
.scion-title,
.notable-title,
.job-title {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $semibold;
    @media screen and (min-width: $break-m) {
        height: 48px;
    }
    @media screen and (min-width: $break-lg) {
        height: 47px;
    }
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
} 

//===== SCION CARD =====//
.scion-title {
    color: $web;
}
.scion-btn {
    background-color: $web;
    color: $white;
    &:hover {
        background-color: $web-dark;
        color: $white;
    }
}
//===== NOTABLE CARD =====//
.notable-title {
    color: $tele;
}
.notable-btn {
    background-color: $tele;
    color: $white;
    &:hover {
        background-color: $tele-dark;
        color: $white;
    }
}
//===== JOB CARD =====//
.job-card {
    display: block;
    @media screen and (min-width: $break-m) {
        display: none;
    }
    @media screen and (min-width: $break-xl) {
        display: block;
    }
    .job-title {
        color: $soft;
    }
    .job-btn {
        background-color: $soft;
        color: $white;
        &:hover {
            background-color: $soft-dark;
            color: $white;
        }
    }
}
.news-text {
    font-size: .85rem;
    margin-bottom: 1.5rem;
    line-height: 1.375rem;
    color: $grey-text;
    @media screen and (min-width: $break-xl) {
        height: 66px;
    }
}
.news-btn {
    @include button-styles;
    display: block;
    padding: 5px 15px 5px 15px;
    line-height: 35px;
    margin: 0 auto 3px 0;
    @media screen and (min-width: $break-m) {
        margin: 20px auto 3px 0;
    }
    @media screen and (min-width: $break-xl) {
        margin: 4px auto 3px 0;
    }
}
//===== CARD FOOTER =====//
.card-footer {
    display: flex;
    max-width: 100%;
    position: relative;
    margin: 0 0 0 2rem;
    padding-top: 32px;
    &::before {
        content: '';
        border-bottom: 1px solid $lightgrey;
        width: 90%;
        position: absolute;
        top: 4px;
    }
    @media screen and (min-width: $break-m) {
        &::before {
            top: 0;
        }
    }
    @media screen and (min-width: $break-lg) {
        padding-top: 40px;
        &::before {
            top: 4px;
        }
    }
    @media screen and (min-width: $break-xl) {
        &::before {
            top: 8px;
        }
    }
    img {
        margin-right: 1rem;
        height: auto;
        vertical-align: middle;
        border-radius: 50%;
    }
}
.posted-by {
    font-weight: $semibold;
    color: $dark-blue;
    line-height: 1.375rem;
    font-size: .875rem;
}
.text-muted {
    color: $grey-text;
}


//===== Target IE Specifically =====//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .news-body {
        display: inline-block;
    }
    .scion-title,
    .notable-title,
    .job-title {
        //Up to Medium
        @media screen and (max-width: $break-m) {
            height: 48px;
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            height: 48px;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            height: 47px;
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            height: 47px;
        }
    } 
    .news-text {
        margin-top: 1.5rem;
    }
    .news-btn {
        display: inline-block;
        //Up to Medium
        @media screen and (max-width: $break-m) {
            margin: auto auto 3px 0;
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            margin: auto auto 3px 0;
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            margin: auto auto 3px 0;
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            margin: auto auto 3px 0;
        }
    }
    .card-footer {
        //Up to Medium
        @media screen and (max-width: $break-m) {
            padding-top: 48px;
            &::before {
                content: '';
                border-bottom: 1px solid $lightgrey;
                width: 90%;
                position: absolute;
                top: 8px;
            }
        }
        //Medium and up
        @media screen and (min-width: $break-m) {
            padding-top: 32px;
            &::before {
                content: '';
                border-bottom: 1px solid $lightgrey;
                width: 90%;
                position: absolute;
                top: 0;
            }
        }
        //Large and Up
        @media screen and (min-width: $break-lg) {
            padding-top: 40px;
            &::before {
                content: '';
                border-bottom: 1px solid $lightgrey;
                width: 90%;
                position: absolute;
                top: 4px;
            }
        }
        //Extra Large
        @media screen and (min-width: $break-xl) {
            padding-top: 32px;
            &::before {
                content: '';
                border-bottom: 1px solid $lightgrey;
                width: 95%;
                position: absolute;
                top: 0;
            }
        }
    }
    .notable-card {
        .news-body {
            .news-text {
                //Medium and up 
                @media screen and (min-width: $break-m) {
                    padding-top: 22px;
                }
            }
            .notable-btn {
                //Extra Large
                @media screen and (min-width: $break-xl) {
                    margin-top: 24px;
                }
            }
        }
        .card-footer {
            //Medium and up
            @media screen and (min-width: $break-m) {
                padding-top: 32px;
                margin-top: 0;
                &::before {
                    content: '';
                    border-bottom: 1px solid $lightgrey;
                    width: 90%;
                    position: absolute;
                    top: 4px;
                }
            }
            //Extra Large
            @media screen and (min-width: $break-xl) {
                padding-top: 28px;
                &::before {
                    content: '';
                    border-bottom: 1px solid $lightgrey;
                    width: 95%;
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
    .job-card {
        .news-body {
            .news-text {
                //Extra Large
                @media screen and (min-width: $break-xl) {
                    padding-top: 24px;
                }
            }
            .job-btn {
                //Extra Large
                @media screen and (min-width: $break-xl) {
                    margin-top: 26px;
                }
            }
        }
        .card-footer {
            //Extra Large
            @media screen and (min-width: $break-xl) {
                padding-top: 30px;
                &::before {
                    content: '';
                    border-bottom: 1px solid $lightgrey;
                    width: 95%;
                    position: absolute;
                    top: 4px;
                }
            }
        }
    }
}