.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 275px;
    height: 100%;
    z-index: 11;
    overflow: auto;
    transition: .5s;
    overflow-x: hidden;
    display: none;
    @media screen and (min-width: $break-lg) {
        width: 350px;
    }
    ul {
        list-style-type: none;
        border-top: 1px solid rgba(0,0,0,.25);
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        li:not(:first-child) {
            border-top: 1px solid hsla(0,0%,100%,.1);
        }
        li:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
    }
    a {
        @include link-styles;
    }
}

.sidebar>ul>li>a { //Target section header links
    display: block;
    padding: 20px;
}

.sidebar.sidebar-show {
    display: block;
}

.sidebar-header {
    background-color: $dark-blue;
    font-size: 1rem;
    &:hover {
        background-color: #3D404E;
    }
    .sidebar-header-link {
        padding: 15px 20px;
    }
}

.sidebar-sub {
    background-color: $darker-blue;
    font-size: 0.875rem;
    padding: 15px 0 15px 0;
    span {
        padding-right: 1rem;
        font-size: .5rem;
    }
    a {
        padding: 0 20px;
    }
    .sidebar-sub-link {
        padding: 20px;
    }
    // .fa-angle-double-right {
    //     font-size: .5rem;
    // }
}

.sidecards-nav {
    @media screen and (min-width: $break-lg) {
        display: none;
    }
}