//==================== MAIN SELECTOR FOR THE SIDEBAR CONTAINER ====================//
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 275px;
    height: 100%;
    z-index: 11;
    overflow: auto;
    transition: .5s;
    overflow-x: hidden;
    display: none;
    ul,
    li {
        list-style: none;
    }
    @media screen and (min-width: $break-lg) {
        width: 350px;
    }
    a {
        @include link-styles;
    }
}

.sidebar.sidebar-show { //Target class that is added by JS when hamburger clicked
    display: block;
}

//==================== SIDECARDS ONLY SHOWN BELOW LG SCREEN SIZE ====================//
.sidecards-nav { //Outer container for the sidecards section
    display: block;
    background-color: $dark-blue;
    padding: 21px;
    @media screen and (min-width: $break-lg) {
        display: none;
    }
}

.sidemenu-sub {
    background-color: $darker-blue;
    ul {
        border-top: 1px solid rgba(0,0,0,.25);
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        li:not(:first-child) {
            border-top: 1px solid hsla(0,0%,100%,.1);
        }
        li:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
    }
}

.side-main {
    >a {
        padding: 19px 0 18px !important;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
        border-radius: 3px;
        font-size: 1.125rem;
        &:hover {
            background-color: #3D404E;
        }
        span {
            padding-bottom: 10px;
            font-size: 1.438rem;
        }
        small {
            font-size: .625rem;
            padding-bottom: 1px;
        }
    }
    a {
        padding: 10px;
        @include flexcolumn;
        align-items: center;
    }
    ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.side-main.side-main-contact {
    margin-bottom: 20px;
}

//========== INDIVIDUAL HEADER SECTIONS ==========//
.web-side-main {
    .fa-code {
        color: $web-dark;
    }
}
.it-side-main {
    .fa-desktop {
        color: $it-dark;
    }
}
.telecoms-side-main {
    .fa-phone-volume {
        color: $tele-dark;
    }
}
.software-side-main {
    .fa-th {
        color: $soft-dark;
    }
}
.digital-side-main {
    .fa-signal {
        color: $market-dark;
    }
}
.security-side-main {
    .fa-shield-virus {
        color: $cyber-dark;
    }
}

//==================== SIDEBAR LINK SECTION (SHOWN AT ALL SIZES) ====================//
.sidebar-list-wrapper {
    ul {
        list-style-type: none;
        // border-top: 1px solid rgba(0,0,0,.25);
        // border-bottom: 1px solid hsla(0,0%,100%,.1);
        li {
            border-top: 1px solid hsla(0,0%,100%,.1);
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
        // li:not(:first-child) {
        //     border-top: 1px solid hsla(0,0%,100%,.1);
        // }
        // li:not(:last-child) {
        //     border-bottom: 1px solid rgba(0,0,0,.25);
        // }
    }
}
.sidebar-header { //Header LIs for each section
    background-color: $dark-blue;
    font-size: 1rem;
    &:hover {
        background-color: #3D404E;
    }
    .sidebar-header-link {
        display: block;
        padding: 15px 20px;
    }
}

.sidebar-sub { //Sub LIs for each section
    background-color: $darker-blue;
    font-size: 0.875rem;
    padding: 15px 20px 15px 20px;
    span {
        padding-right: 1rem;
        margin-left: -20px;
        font-size: .5rem;
    }
    a {
        padding: 0 20px;
    }
}

